{% extends 'manager/template.html' %}
{% load static %}
{% block style %}
<style>
</style>
{% endblock %}


{% block content %}
<div class="row my-5">
    <h1 class="menu-font">책 수요 변화</h1>
</div>

<!-- 로딩 이미지 -->
<div id="loadingIndicator" class="loading-indicator" style="display: none;">
    <img src="{% static 'images/loading.gif' %}" alt="Loading..." />
</div>


<div class="container">
    <div class="row">
        <!-- 그래프 이미지 -->
        <div class="col-6">            
            <div id="graphImageWrapper" class="local-image-section">
                <!-- Place your image tag here -->
                <img id="graphImage" class="img-fluid" src="{% static 'images/ready.gif' %}" alt="Ready Image" style ="height:500px";>
            </div>
        </div>
        
        <div class="col-6">
            <div class="row">
                <!-- 표지 변경할 도서 검색 -->
                <h2 class="fw-bold mb-3">도서 검색</h2>
                <div class="mb-5">
                    <div class="row g-2 align-items-center">
                        <!-- 검색창 열 -->
                        <div class="col">
                            <input id="bookSearchInput" type="text" class="form-control" placeholder="도서를 검색해보세요.">
                        </div>
                        <!-- 버튼 열 -->
                        <div class="col-auto">
                            <button id="bookSearchBtn" class="btn btn-outline-orange-400">검색</button>
                        </div>
                    </div>
                    <ul id="searchResults" class="search-results mt-2" style="display: none;">
                        <!-- 검색 결과가 여기에 나타납니다 -->
                    </ul>
                </div>

                <!-- 표지 스타일 -->
                <h2 class="fw-bold">표지 스타일</h2>
                <div class="button-group d-flex justify-content-center mb-3">
                    <!-- 체크박스 및 라벨을 사용한 토글 버튼 -->
                    <input type="radio" class="btn-check" id="style-disney" autocomplete="off">
                    <label class="btn btn-outline-orange-400 mx-1" for="style-disney">디즈니</label>
                
                    <input type="radio" class="btn-check" id="style-ghibli" autocomplete="off">
                    <label class="btn btn-outline-orange-400 mx-1" for="style-ghibli">지브리</label>
                
                    <input type="radio" class="btn-check" id="style-marvel" autocomplete="off">
                    <label class="btn btn-outline-orange-400 mx-1" for="style-marvel">마블</label>
                </div>
                <div class="button-group d-flex justify-content-center mb-3">
                    <input type="radio" class="btn-check" id="style-cartoon" autocomplete="off">
                    <label class="btn btn-outline-orange-400 mx-1" for="style-cartoon">카툰</label>
                
                    <input type="radio" class="btn-check" id="style-colorful" autocomplete="off">
                    <label class="btn btn-outline-orange-400 mx-1" for="style-colorful">컬러풀</label>
                
                    <input type="radio" class="btn-check" id="style-drawing" autocomplete="off">
                    <label class="btn btn-outline-orange-400 mx-1" for="style-drawing">드로잉</label>
                </div>
                <div class="button-group d-flex justify-content-center mb-3">
                    <button id="createCoverBtn" class="btn btn-orange-400">표지 생성하기</button>
                </div>
                
                <!-- 표지 선택하기 -->
                <h2 class="fw-bold">표지 선택하기</h2>
                <div class="cover-selection mb-3">
                    <div class="row">
                        <!-- Bootstrap 5 그리드 시스템과 이미지 클래스 적용 -->
                        <div class="col">
                            <button class="btn btn-outline-primary w-100" onclick="selectImage(0)">
                                <img src="{% static 'images/Redraw_image_0.png' %}" alt="Image0" class="img-fluid">
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary w-100" onclick="selectImage(1)">
                                <img src="{% static 'images/Redraw_image_1.png' %}" alt="Image1" class="img-fluid">
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-outline-primary w-100" onclick="selectImage(2)">
                                <img src="{% static 'images/Redraw_image_2.png' %}" alt="Image2" class="img-fluid">
                            </button>
                        </div>
                    </div>
                </div>

                <!-- 표지 변경하기 -->
                <div class="d-flex justify-content-center">
                    <button id="selectCoverBtn" class="btn btn-success">표지 변경하기</button>
                </div>  
            </div>
        </div>
    </div>
</div>

<!-- 여백 -->
<div class="row my-5"></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    // 로딩 이미지
    function reloadLocalImage() {
        var localImage = document.querySelector('#graphImageWrapper');
        localImage.src = "{% static 'images/graph.png' %}?t=" + new Date().getTime();
    }

    function showLoadingIndicator() {
        document.getElementById('loadingIndicator').style.display = 'block';
    }
    
    function hideLoadingIndicator() {
        document.getElementById('loadingIndicator').style.display = 'none';
    }

    // 도서 검색 자동완성
    document.querySelector('#bookSearchInput').addEventListener('input', function() {
        const searchText = this.value;
    
        fetch('', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                request_type: 'search',
                search_query: searchText })
        })
        .then(response => response.json())
        .then(data => {
            const searchResults = document.getElementById('searchResults');
            searchResults.innerHTML = '';  // 이전 검색 결과를 지웁니다
            searchResults.style.display = 'block';  // 목록을 표시합니다
            searchResults.classList.add('list-group'); // Bootstrap 리스트 그룹 클래스 추가
    
            data.books.forEach(book => {
                const listItem = document.createElement('li');
                listItem.textContent = book.title;
                listItem.classList.add('list-group-item'); // Bootstrap 리스트 아이템 클래스 추가
                searchResults.appendChild(listItem);
            });
    
            if (data.books.length === 0) {
                const emptyItem = document.createElement('li');
                emptyItem.textContent = '검색 결과가 없습니다.';
                emptyItem.classList.add('list-group-item');
                searchResults.appendChild(emptyItem);
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });

    function setupSearchResultClickListener() {
        const searchResults = document.getElementById('searchResults');
        searchResults.addEventListener('click', function(event) {
            const clickedItem = event.target;
            if (clickedItem.tagName === 'LI') {
                const searchBar = document.querySelector('#bookSearchInput');
                searchBar.value = clickedItem.textContent.trim();
            }
        });
    }
    
    // 페이지 로드 시 검색 결과 클릭 이벤트 리스너
    document.addEventListener('DOMContentLoaded', function() {
        setupSearchResultClickListener();
    });

    // 도서 검색 후 이미지 생성
    document.querySelector('#bookSearchBtn').addEventListener('click', function() {
        const searchText = document.querySelector('#bookSearchInput').value;
        const searchResults = document.getElementById('searchResults');
        searchResults.style.display = 'none';
        // AJAX 요청 전 이미지를 ready.png로 변경
        document.getElementById('graphImage').src = "{% static 'images/ready.gif' %}";
    
        fetch('', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                request_type: 'create_graph',
                search_text: searchText
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('검색 결과:', data);
            // 검색 완료 후 이미지를 graph.png로 변경합니다.
            document.getElementById('graphImage').src = "{% static 'images/graph.png' %}";
            // 여기에 검색 결과를 처리하는 추가 로직을 구현할 수 있습니다.
        })
        .catch(error => {
            console.error('Error:', error);
            // 오류 발생 시 이미지를 다시 ready.png로 변경할 수 있습니다.
            alert('책 제목을 다시 입력해주세요');
            document.getElementById('graphImage').src = "{% static 'images/ready.gif' %}";
        });
    });
   
    // 표지 생성하기 버튼 클릭 이벤트
    // CSRF 토큰을 가져오는 함수
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    
    document.getElementById('createCoverBtn').addEventListener('click', function() {
        showLoadingIndicator();
        const selectedStyleButton = document.querySelector('.button-group .cover-button.clicked');
        let selectedStyle = '';
        if (selectedStyleButton) {
            selectedStyle = selectedStyleButton.textContent.trim(); // 버튼의 텍스트를 추출합니다.
        }
        fetch('', {  // '/create_cover/'는 장고 urlconf에 정의된 경로에 맞게 수정해야 합니다.
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),  // CSRF 토큰을 요청 헤더에 추가합니다.
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                // 여기에 서버에 보낼 데이터를 추가할 수 있습니다.
                request_type: 'create_cover',
                style: selectedStyle, //디즈니 or 마블.. 그림체 전송
            })
        })
        .then(response => {
            hideLoadingIndicator();
            response.json();
        })
        .then(data => {
            document.querySelector('.cover-selection').style.display = 'block';
            document.querySelector('.cover-selection + .button-group').style.display = 'block';
            const newTimestamp = new Date().getTime();
            const imageElements = document.querySelectorAll('.cover-selection img');
            imageElements.forEach((img, index) => {
                img.src = `{% static 'images/Redraw_image_' %}${index}.png?${newTimestamp}`;
            });
            alert(data.message);  // 서버로부터 응답을 받으면 사용자에게 알림을 표시합니다.
            // 필요한 추가 동작
        })
        .catch((error) => {
            hideLoadingIndicator();
            console.error('Error:', error);
        });
    });

    function getCurrentSelectedImageNumber() {
        const selectedButton = document.querySelector('.cover-selection .image-button.clicked');
        if (!selectedButton) {
            return null;
        }
        return Array.from(document.querySelectorAll('.cover-selection .image-button')).indexOf(selectedButton);
    }

    // '표지 변경하기' 버튼 클릭 이벤트 핸들러
    document.getElementById('selectCoverBtn').addEventListener('click', function() {
        // 현재 선택된 이미지 번호 가져오기
        const selectedImageNumber = getCurrentSelectedImageNumber();
        if (selectedImageNumber === null) {
            alert('이미지를 선택해주세요!');
            return;
        }
    
        // 선택된 이미지 번호 서버에 전송
        fetch('', { // 서버 경로를 적절히 수정하세요.
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                request_type: 'update_cover',
                image_number: selectedImageNumber
            })
        })
        .then(response => response.json())
        .then(data => {
            alert('변경 성공!');
            window.location.href = '../cover_complete';
            
        })
        .catch(error => {
            console.error('Error:', error);
            alert('변경 실패');
        });
    });     
    
    function selectImage(imageNumber) {
        const imageButtons = document.querySelectorAll('.cover-selection .image-button');
        imageButtons.forEach(button => {
            button.classList.remove('clicked'); // 다른 모든 버튼의 'clicked' 클래스 제거
        });
    
        const selectedButton = document.querySelector(`.cover-selection .image-button:nth-child(${imageNumber})`);
        selectedButton.classList.add('clicked'); // 선택된 버튼에 'clicked' 클래스 추가
    }

</script>
{% endblock %}
