{% extends 'manager/template.html' %}
{% load static %}

{% block content %}
<style>
    .search-bar-container {
        position: absolute;
        top: 80px;
        right: 95px;
        width: 230px; /* 검색바의 너비 */
        height: 40px;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 20px;
        padding: 5px 1px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .search-bar-container input[type="text"] {
        flex-grow: 1;
        border: none;
        padding: 5px 10px;
        margin-right: 5px;
        border-radius: 15px;
        outline: none;
        font-size: 12px;
    }

    .search-bar-container button {
        border: none;
        background-color: #F0CB85;
        color: white;
        padding: 6px 12px;
        border-radius: 15px;
        cursor: pointer;
        width: 40px;
        height: 30px;
        font-size: 12px;
    }

    .search-bar-container button:hover {
        background-color: #FFA01E;
    }

    .search-results {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        top: 120px; /* 검색바의 높이와 위치에 따라 조절 */
        right: 95px;
        width: 230px; /* 검색바의 너비와 일치 */
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        z-index: 1000; /* 다른 요소들 위에 표시 */
    }

    .search-results li {
        padding: 8px 12px;
        cursor: pointer;
        font-size: 14px;
    }

    .search-results li:hover {
        background-color: #f0f0f0;
    }
    /* ... 기존 CSS 스타일 ... */
    .cover-selection,
    .cover-selection + .button-group {
        display: none; /* 초기 상태를 숨김으로 설정합니다. */
    }
    .cover-creation-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center; /* 모든 내용을 가운데 정렬합니다. */
        margin: 10px;
        padding: 60px;
        background-color: #f9f9f9;

        
    }
    .button-group .cover-button {
        padding: 5px 10px;
        border: none;
        border-radius: 25px; /* 버튼을 둥글게 만듭니다. */
        margin: 5px; /* 각 버튼 사이의 간격을 조절합니다. */
        background-color: #F0CB85;
        color: black;
        font-size: 15px;
        cursor: pointer;
        transition: background-color 0.3s;
        width: 80px; /* 버튼의 너비를 고정합니다. */
        height: 48px; /* 버튼의 높이를 고정합니다. */
        text-align: center; /* 텍스트를 가운데 정렬합니다. */
        line-height: 40px; /* 텍스트를 수직 중앙에 배치합니다. */
    }
    
    .button-group .cover-button2 {
        padding: 10px 20px;
        border: none;
        border-radius: 25px; /* 버튼을 둥글게 만듭니다. */
        margin: 5px; /* 각 버튼 사이의 간격을 조절합니다. */
        background-color: #FFA01E;
        color: black;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .button-group .cover-button:hover,
    .button-group .cover-button.clicked {
        background-color: #FFA01E;
    }
    .button-group .image-button:hover,
    .button-group .image-button.clicked {
        background-color: #FFA01E;
    }
    
    h2 {
        margin-bottom: 15px;
        color: #333;
        font-family: 'Arial', sans-serif;
        font-weight: bold; /* 글꼴을 굵게 만듭니다. */
        font-size: 24px; /* 원하는 글꼴 크기로 조절합니다. */
    }
    .button-group .image-button {
        border: 1px solid orange; /* 테두리 스타일 및 색상을 주황색으로 지정합니다. */
        margin: 5px;
        color: white;
        font-size: 16px;
        cursor: pointer; 
    }

    .layout-container {
        display: flex;
        justify-content: space-between; /* This separates the two sections */
        width: 100%;
    }
    
    /* This will be your left section for the local image */
    .local-image-section {
        flex-basis: 40%; /* Takes up half the width */
        display: flex;
        justify-content: left;
        align-items: left; /* This centers the content */
    }
    
    /* Assuming your right section is already implemented */
    .cover-creation-section {
        flex-basis: 60%; /* Takes up the other half */
        /* Your existing styles */
    }
    
    /* You might need to adjust your image styles for responsiveness */
    img {
        max-width: 100%;
        height: auto;
    }
    
    .loading-indicator {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1000; /* 화면의 다른 요소들 위에 표시되도록 z-index 설정 */
    }

</style>

<div id="loadingIndicator" class="loading-indicator" style="display: none;">
    <img src="{% static 'images/loading.gif' %}" alt="Loading..." />
</div>


<div class="cover-creation-section">
    <div class="layout-container">
        <div class="local-image-section">
            <!-- Place your image tag here -->
            <img id="graphImage" src="{% static 'images/ready.gif' %}" alt="Ready Image" style="width: 1500px; height: auto;">
        </div>
        
        <!-- Your existing cover-creation-section -->
        <div class="cover-creation-section">
            <div class="search-bar-container">
                <input type="text" placeholder="검색...">
                <button>📙</button>
                <ul id="searchResults" class="search-results" style="display: none;">
                    <!-- 검색 결과가 여기에 나타납니다 -->
                </ul>
            </div>
            <h2>표지 변경 옵션</h2>

            <!-- 버튼 그룹 1 -->
            <div class="button-group">
                <button id="StyleBtn" class="cover-button">#디즈니</button>
                <button id="StyleBtn" class="cover-button">#지브리</button>
                <button id="StyleBtn" class="cover-button"># 마블  </button>
            </div>

            <!-- 버튼 그룹 2 -->
            <div class="button-group">
                <button id="StyleBtn" class="cover-button"># 카툰  </button>
                <button id="StyleBtn" class="cover-button">#컬러풀</button>
                <button id="StyleBtn" class="cover-button">#드로잉</button>
            </div>

            <div class="button-group">
                <button id="createCoverBtn" class="cover-button2">표지 생성하기</button>
            </div>

            
            <!-- Cover Selection Area -->
            <div class="cover-selection">
                <div class="button-group">
                <!-- 이미지 버튼 1 -->
                    <button class="image-button" onclick="selectImage(0)">
                        <img src="{% static 'images/Redraw_image_0.png' %}" alt="Image0" style="width: 180px; height: 200px;">
                    </button>
                    <!-- 이미지 버튼 2 -->
                    <button class="image-button" onclick="selectImage(1)">
                        <img src="{% static 'images/Redraw_image_1.png' %}" alt="Image1" style="width: 180px; height: 200px;">
                    </button>
                    <!-- 이미지 버튼 3 -->
                    <button class="image-button" onclick="selectImage(2)">
                        <img src="{% static 'images/Redraw_image_2.png' %}" alt="Image2" style="width: 180px; height: 200px;">
                    </button>
                </div>
            </div>

            <div class="button-group">
                <button id="selectCoverBtn" class="cover-button2">표지 변경하기</button>
            </div>
                </div>
            </div>
    <!-- Cover Creation Area -->
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    // local-image-section의 이미지를 재로드하는 함수
    function reloadLocalImage() {
        var localImage = document.querySelector('.local-image-section img');
        localImage.src = "{% static 'images/graph.png' %}?t=" + new Date().getTime();
    }

    function showLoadingIndicator() {
        document.getElementById('loadingIndicator').style.display = 'block';
    }
    
    function hideLoadingIndicator() {
        document.getElementById('loadingIndicator').style.display = 'none';
    }

    function toggleButtonClass(button) {
        if (button.classList.contains('clicked')) {
            button.classList.remove('clicked'); // 이미 clicked 클래스가 있다면 제거
        } else {
            // 다른 모든 버튼의 clicked 클래스를 제거합니다.
            const allButtons = document.querySelectorAll('.cover-button');
            allButtons.forEach(function(btn) {
                btn.classList.remove('clicked');
            });
            button.classList.add('clicked'); // clicked 클래스를 추가
        }
    }

    const styleButtons = document.querySelectorAll('.button-group .cover-button');
    styleButtons.forEach(button => {
        button.addEventListener('click', function() {
        // 다른 모든 스타일 버튼의 'clicked' 클래스를 제거합니다.
            styleButtons.forEach(btn => {
                btn.classList.remove('clicked');
        });
        // 현재 클릭된 버튼에 'clicked' 클래스를 추가합니다.
        button.classList.add('clicked');
    });
});
    
    const imageButtons = document.querySelectorAll('.cover-selection .image-button');
    imageButtons.forEach(button => {
        button.addEventListener('click', function() {
            // 다른 모든 이미지 버튼의 'clicked' 클래스를 제거합니다.
            imageButtons.forEach(btn => {
                btn.classList.remove('clicked');
            });
            // 현재 클릭된 버튼에 'clicked' 클래스를 추가합니다.
            button.classList.add('clicked');
        });
    });

    // 표지 생성 버튼에 대한 클릭 이벤트 핸들러를 추가합니다.
    const createCoverBtn = document.getElementById('createCoverBtn');
    createCoverBtn.addEventListener('click', function() {
        // 클릭된 버튼에 'clicked' 클래스를 토글합니다.
        createCoverBtn.classList.toggle('clicked');
    });

    // 표지 변경 버튼에 대한 클릭 이벤트 핸들러를 추가합니다.
    const selectCoverBtn = document.getElementById('selectCoverBtn');
    selectCoverBtn.addEventListener('click', function() {
        // 클릭된 버튼에 'clicked' 클래스를 토글합니다.
        selectCoverBtn.classList.toggle('clicked');
    });
    // CSRF 토큰을 가져오는 함수
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // 표지 생성하기 버튼 클릭 이벤트 핸들러
    document.getElementById('createCoverBtn').addEventListener('click', function() {
        showLoadingIndicator();
        const selectedStyleButton = document.querySelector('.button-group .cover-button.clicked');
        let selectedStyle = '';
        if (selectedStyleButton) {
            selectedStyle = selectedStyleButton.textContent.trim(); // 버튼의 텍스트를 추출합니다.
        }
        fetch('', {  // '/create_cover/'는 장고 urlconf에 정의된 경로에 맞게 수정해야 합니다.
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),  // CSRF 토큰을 요청 헤더에 추가합니다.
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                // 여기에 서버에 보낼 데이터를 추가할 수 있습니다.
                request_type: 'create_cover',
                style: selectedStyle, //디즈니 or 마블.. 그림체 전송
            })
        })
        .then(response => {
            hideLoadingIndicator();
            response.json();
        })
        .then(data => {
            document.querySelector('.cover-selection').style.display = 'block';
            document.querySelector('.cover-selection + .button-group').style.display = 'block';
            const newTimestamp = new Date().getTime();
            const imageElements = document.querySelectorAll('.cover-selection img');
            imageElements.forEach((img, index) => {
                img.src = `{% static 'images/Redraw_image_' %}${index}.png?${newTimestamp}`;
            });
            alert(data.message);  // 서버로부터 응답을 받으면 사용자에게 알림을 표시합니다.
            // 필요한 추가 동작
        })
        .catch((error) => {
            hideLoadingIndicator();
            console.error('Error:', error);
        });
    });



    // '표지 변경하기' 버튼 클릭 이벤트 핸들러
    document.getElementById('selectCoverBtn').addEventListener('click', function() {
        // 현재 선택된 이미지 번호 가져오기
        const selectedImageNumber = getCurrentSelectedImageNumber();
        if (selectedImageNumber === null) {
            alert('이미지를 선택해주세요!');
            return;
        }
    
        // 선택된 이미지 번호 서버에 전송
        fetch('', { // 서버 경로를 적절히 수정하세요.
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                request_type: 'update_cover',
                image_number: selectedImageNumber
            })
        })
        .then(response => response.json())
        .then(data => {
            alert('변경 성공!');
            window.location.href = '../cover_complete';
            
        })
        .catch(error => {
            console.error('Error:', error);
            alert('변경 실패');
        });
    });
    

    function selectImage(imageNumber) {
        const imageButtons = document.querySelectorAll('.cover-selection .image-button');
        imageButtons.forEach(button => {
            button.classList.remove('clicked'); // 다른 모든 버튼의 'clicked' 클래스 제거
        });
    
        const selectedButton = document.querySelector(`.cover-selection .image-button:nth-child(${imageNumber})`);
        selectedButton.classList.add('clicked'); // 선택된 버튼에 'clicked' 클래스 추가
    }
    function getCurrentSelectedImageNumber() {
        const selectedButton = document.querySelector('.cover-selection .image-button.clicked');
        if (!selectedButton) {
            return null;
        }
        return Array.from(document.querySelectorAll('.cover-selection .image-button')).indexOf(selectedButton);
    }
    
    
    
    // 검색 처리 로직 
    document.querySelector('.search-bar-container button').addEventListener('click', function() {
        const searchText = document.querySelector('.search-bar-container input[type="text"]').value;
        const searchResults = document.getElementById('searchResults');
        searchResults.style.display = 'none';
        // AJAX 요청 전 이미지를 ready.png로 변경합니다.
        document.getElementById('graphImage').src = "{% static 'images/ready.gif' %}";
    
        fetch('', { // Django 뷰 경로로 수정하세요
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                request_type: 'create_graph',
                search_text: searchText
            })
        })
        .then(response => response.json())
        .then(data => {
            console.log('검색 결과:', data);
            // 검색 완료 후 이미지를 graph.png로 변경합니다.
            document.getElementById('graphImage').src = "{% static 'images/graph.png' %}";
            // 여기에 검색 결과를 처리하는 추가 로직을 구현할 수 있습니다.
        })
        .catch(error => {
            console.error('Error:', error);
            // 오류 발생 시 이미지를 다시 ready.png로 변경할 수 있습니다.
            alert('책 제목을 다시 입력해주세요');
            document.getElementById('graphImage').src = "{% static 'images/ready.gif' %}";
        });
    });
    document.querySelector('.search-bar-container input[type="text"]').addEventListener('input', function() {
        const searchText = this.value;
    
        fetch('', {  // 적절한 URL로 변경하세요
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ 
                request_type: 'search',
                search_query: searchText })
        })
        .then(response => response.json())
        .then(data => {
            const searchResults = document.getElementById('searchResults');
            searchResults.innerHTML = '';  // 이전 검색 결과를 지웁니다
            searchResults.style.display = 'block';  // 목록을 표시합니다
    
            data.books.forEach(book => {
                const listItem = document.createElement('li');
                listItem.textContent = book.title;
                searchResults.appendChild(listItem);
            });
    
            if (data.books.length === 0) {
                searchResults.innerHTML = '<li>검색 결과가 없습니다.</li>';
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
    function setupSearchResultClickListener() {
        const searchResults = document.getElementById('searchResults');
        searchResults.addEventListener('click', function(event) {
            const clickedItem = event.target;
            if (clickedItem.tagName === 'LI') {
                const searchBar = document.querySelector('.search-bar-container input[type="text"]');
                searchBar.value = clickedItem.textContent.trim();
            }
        });
    }
    
    // 페이지 로드 시 검색 결과 클릭 이벤트 리스너를 설정합니다.
    document.addEventListener('DOMContentLoaded', function() {
        setupSearchResultClickListener();
    });

</script>
{% endblock %}

