{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <link href="{% static 'bootstrap/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" />    
    <title>{% block title %}O: D{% endblock %}</title>
    {% block style %}
    <style>
        .container{
            max-width : 1500px;
        }        
    </style>
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-orange-100 px-5">
        <div class="container-fluid">
            <!-- 로고 -->
            <a class="navbar-brand fs-2 d-flex align-items-center" style="color:#FD7E14" href="/">
                &nbsp;&nbsp;O: D
            </a>

            <!-- 토글 버튼 (모바일 뷰에서 사용) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="row justify-content-between w-100">
                    <div class="col-auto ps-5 fs-4">
                        <ul class="navbar-nav align-items-center">
                            <!-- 메뉴 -->
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'manager:book_view' %}">책 수요 변화</a></li>
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'manager:book_request' %}">도서 신청 내역</a></li>
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'manager:inquiry' %}">1:1 문의</a></li>
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'manager:revenue' %}">구독 및 수익 현황</a></li>
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'manager:faq' %}">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container flex-grow-1">
        {% block content %}
        <!-- 페이지 별 콘텐츠 위치 -->
        {% endblock %}
    </div>

    <footer class="footer mt-auto py-3 bg-dark-subtle">
        <div class="container text-center">
            <!-- 푸터 내용 -->
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block script %}{% endblock %}
</html>