{% extends 'audiobook/template.html' %}
{% load static %}

{% block title %}O :D - 청취{% endblock %}

{% block style %}
<style>
    #voice_img {
        height: 300px;
        object-fit: cover; 
        cursor:pointer;
        width: 300px;
    }
</style>
{% endblock %}

{% block content %}
    <!-- 공백 -->
    <div class="row my-5">
        <h1 class="menu-font">{{book.book_title}}</h1>
    </div>

    <div class="row justify-content-center">
        <!-- 책 표지 -->
        <div class="col-6 d-flex align-items-center justify-content-start">
            <img src="{{file_path}}{{book.book_image_path}}" alt="사진" class="img-fluid rounded"> 
        </div>

        <!-- 성우 선택 -->
        <div class="col-6 d-flex flex-column align-items-center justify-content-center">
            <div class="row mb-4">
                <a href="{% url 'audiobook:voice_custom' book.book_id%}">
                    <!-- 성우 이미지 표시 -->
                    {% if selected_voice %}
                        <img id="voice_img" src="{{ selected_voice.voice_image_path.url }}" alt="{{ selected_voice_name }}" class="img-fluid rounded">
                    {% else %}
                        <img id="voice_img" src="/static/images/IU.jpg" alt="기본 성우" class="img-fluid rounded">
                    {% endif %}
                </a>                
            </div>
            <div class="row">
                <div class="col-auto d-flex justify-content-center">
                    <span class="fs-3 fw-bold mx-1">현재 선택 성우</span>
                    <span id="sampleBtn" class="d-inline-flex align-items-center" style="cursor:pointer;">
                        <svg id="playPauseIcon" xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#FD7E14"  class="bi bi-play" viewBox="0 0 16 16">
                            <path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>
                        </svg>
                    </span>  
                </div>
            </div>
        </div>
    </div>

    <!-- 청취 버튼 -->
    <div class="row d-flex align-items-center justify-content-center my-5">
        <div id="listen" class="col-auto d-flex align-items-center" style="cursor:pointer;">
            <button class="btn btn-orange-400 btn-lg">청취하기</button>
        </div>
    </div>

    {% if selected_voice %}
        <audio id="audioPlayer" style="display: none">
            <source src="{{ selected_voice.voice_sample_path.url }}" type="audio/mp3">
        </audio>
    {% else %}
        <audio id="audioPlayer" style="display: none">
            <source src="/static/sounds/IU.mp3" type="audio/mp3">
        </audio>
    {% endif %}

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {

        const user_book_history = {{user_book_history}}
        const bookId = {{book.book_id}}
        if (!user_book_history.includes(bookId)) {
            user_book_history.push(bookId)
        }

        document.getElementById('listen').addEventListener('click', function() {
            // 쿠키에서 CSRF 토큰을 가져오는 함수
            function getCSRFToken() {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.startsWith('csrftoken=')) {
                        return cookie.substring('csrftoken='.length, cookie.length);
                    }
                }
                return null;
            }
            // CSRF 토큰 가져오기
            const csrfToken = getCSRFToken();
            // CSRF 토큰이 있는지 확인
            if (!csrfToken) {
                console.error("CSRF 토큰을 찾을 수 없습니다.");
                return;
            }
            fetch("{% url 'community:book_detail' pk=book.book_id%}", {
                method: "PUT",  // 또는 "GET" 등 요청 방식 선택
                headers: {
                    "Content-Type": "application/json",
                    // 헤더에 CSRF 토큰 포함
                    "X-CSRFToken": csrfToken,
                    },
                    body: JSON.stringify({book_view_count: true}),
                })
                .then(data => {
                    // 성공적으로 데이터를 받아온 경우 실행되는 로직
                })
                .catch(error => {
                    console.error("좋아요 업데이트 중 오류 발생", error);
                });

            fetch("{% url 'community:user_detail' pk=user.user_id%}", {
            method: "PUT",  // 또는 "GET" 등 요청 방식 선택
            headers: {
                "Content-Type": "application/json",
                // 헤더에 CSRF 토큰 포함
                "X-CSRFToken": csrfToken,
                },
                body: JSON.stringify({user_book_history: user_book_history}),
            })
            .then(data => {
                // 성공적으로 데이터를 받아온 경우 실행되는 로직
                window.location.href = "{% url 'audiobook:content_play' book_id=book.book_id %}"
            })
            .catch(error => {
                console.error("좋아요 업데이트 중 오류 발생", error);
            });

        }); 

        var isPlaying = false; // 소리가 현재 재생 중인지 여부를 나타내는 변수

        // 오디오 재생 및 일시정지 
        document.getElementById('sampleBtn').addEventListener('click', function() {
            playSample();
        });
        
        // 오디오 재생
        function playSample() {
            var audioPlayer = document.getElementById('audioPlayer');
            var playPauseIcon = document.getElementById('playPauseIcon');

            if (!isPlaying) {
                audioPlayer.play();
                isPlaying = true;
                playPauseIcon.innerHTML = `<path d="M5.5 3.5h-1v8h1v-8zm5 0h-1v8h1v-8z"/>`; // 일시정지 아이콘으로 변경
            } else {
                audioPlayer.pause();
                audioPlayer.currentTime = 0;
                isPlaying = false;
                playPauseIcon.innerHTML = `<path d="M10.804 8 5 4.633v6.734zm.792-.696a.802.802 0 0 1 0 1.392l-6.363 3.692C4.713 12.69 4 12.345 4 11.692V4.308c0-.653.713-.998 1.233-.696z"/>`; // 재생 아이콘으로 변경
            }
        }

    });


</script>
{% endblock %}