{% extends 'audiobook/template.html' %}
{% load static %}

{% block title %}청취{% endblock %}
<style>
    body {
      background-color: #f8f9fa;
    }

    .container {
      margin-top: 50px;
    }

    .column {
      padding: 20px;
      text-align: center;
    }

    .listen-btn {
      margin-top: 20px;
    }
  </style>
{% block style %}
{% endblock %}

{% block content %}
    <!-- 공백 -->
    <div class="row mt-5"> </div>
    <div class="row mt-5"> </div>
    <div class="row mt-5"> </div>

    <div class="row">
        <!-- 첫번째 컬럼 -->
        <div class="col-md-4 column d-flex flex-column align-items-center justify-content-center">
            <img src="/static/images/ocean.jpg" alt="사진" class="img-fluid">
        </div>

        <!-- 두번째 컬럼 -->
        <div class="col-md-4 column d-flex flex-column align-items-center justify-content-center">
            <div class="row mb-5">
                <h3>바다가 들리는 편의점</h3>
            </div>
            <div class="row">
                <div class="col col-auto">
                    <button class="btn btn-primary listen-btn">청취하기</button>
                </div>
                <div class="col">
                    <p>청취하기</p>
                </div>
            </div>
        </div>

        <!-- 세번째 컬럼 -->
        <div class="col-md-4 column d-flex flex-column align-items-center justify-content-center">
            <div class="row mb-5">
                <h3>현재 선택 성우</h3>
            </div>
            <div class="row mb-5">
                <img src="/static/images/chz.jpg" alt="성우 사진" class="img-fluid">
            </div>
            <div class="row">
                <div class="col col-auto">
                    <button class="btn btn-primary listen-btn">샘플 듣기</button>
                </div>
                <div class="col">
                    <p>샘플 듣기</p>
                </div>
            </div>
        
        </div>
    </div>
{% endblock %}

{% block script %}

{% endblock %}