{% extends 'audiobook/template.html' %}
{% load static %}

{% block title %}O :D{% endblock %}
{% block style %}
<style>
    .carousel-item img {
        object-fit: contain; 
        max-height: 500px;  
        width: auto;         
    }
</style>
{% endblock %}

{% block content %}
    {% if messages %}
        <script>
            {% for message in messages %}
                alert("{{ message }}");
            {% endfor %}
        </script>
    {% endif %}

    <!-- 캐러셀 -->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="{% static 'images/index1.png' %}" class="d-block w-100 rounded my-5" alt="index1">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/index2.png' %}" class="d-block w-100 rounded my-5" alt="index2">
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="{% static 'images/index3.png' %}" class="d-block w-100 rounded my-5" alt="index3">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- 무료 시작 버튼 -->
    <div class="d-flex justify-content-center align-items-end my-4">
        <a href="{% url 'user:login' %}" class="btn btn-orange-300">첫 달 무료로 독서 시작하기</a>
    </div>

{% endblock %}

{% block script %}{% endblock %}