{% extends 'audiobook/template.html' %}
{% load static %}
{% block title %}O :D - 장르{% endblock %}
{% block content %}
  <link rel="stylesheet" href="/static/css/scrollContainer.css">

    {% for category, books in categories.items %}
        <div class="scrolling-wrapper">
            <h2>{{ category }}</h2>
            <button class="scroll-left-button">‹</button>
            <div class="scrolling-container">
                {% for book in books %}
                <div class="book-card">
                    <a href="{% url 'audiobook:content' book.book_id %}?voice_name=IU" >
                        <img class="book-img" src="{{ file_path }}{{ book.book_image_path }}" alt="{{ book.book_title }}">
                    </a>
                <div class="book-info">
                    <h5>{{ book.book_title }}</h5>
                    <p>저자: {{ book.book_author }}</p>
                </div>
                </div>
                {% endfor %}
            </div>
            <button class="scroll-right-button">›</button>
        </div>
    {% endfor %}
{% endblock %}

{% block script %}
  <script src="/static/js/scrollContainer.js"></script>
{% endblock %}
