{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <link href="{% static 'bootstrap/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" />
    {% block link %} 
    {% endblock %}    
    <title>{% block title %}O :D{% endblock %}</title>
    {% block style %}
    {% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-orange-100 px-5">
        <div class="container-fluid">
            <!-- 로고 -->
            <a class="navbar-brand fs-2 d-flex align-items-center" style="color:#FD7E14" href="/">
                &nbsp;&nbsp;O :D
            </a>

            <!-- 토글 버튼 (모바일 뷰에서 사용) -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="row justify-content-between w-100">
                    <div class="col-6 ps-5 fs-4">
                        <ul class="navbar-nav align-items-center">
                            <!-- 메뉴 -->
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'audiobook:main_genre' %}">장르별</a></li>
                            <li class="nav-item"><a class="nav-link me-5" href="{% url 'community:book_share' %}">커뮤니티</a></li>
                        </ul>
                    </div>
    
                    <div class="col-6 d-flex justify-content-end">
                        <!-- 검색창 -->
                        <form class="row g-2 align-items-center me-5" method="get" action="{% url 'audiobook:main_search' %}" >
                            <div class="col-auto">
                                <input class="form-control" type="search" name="query" placeholder="원하시는 책을 찾아보세요." value="{{ request.GET.query }}" aria-label="Search" style="width:230px;">
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-outline-orange-400 btn-sm" type="submit">검색</button>
                            </div>                            
                        </form>
    
                        <!-- 로그인 -->
                        {% if request.user.is_authenticated %}
                        <li class="nav-item dropdown list-unstyled d-flex align-items-center">
                            <a class="nav-link d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {% if request.user.user_profile_path %}
                                    <img src="{{file_path}}{{request.user.user_profile_path}}" alt="프로필 사진" width="30" height="30" class="rounded-circle">
                                {% else %}
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                    </svg>
                                {% endif %}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                {% if request.user.is_admin %}
                                    <li><a class="dropdown-item" href="{% url 'manager:book_request' %}">관리자 모드</a></li>
                                {% endif %}
                                <li><a class="dropdown-item" href="{% url 'user:profile' %}">내 정보</a></li>
                                <li><a class="dropdown-item">{{ request.user.nickname }}</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'user:logout' %}">로그아웃</a></li>
                            </ul>
                        </li>
                        {% else %}
                        <li class="nav-item dropdown list-unstyled d-flex align-items-center">
                            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                                </svg>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                              <li><a class="dropdown-item" href="{% url 'user:login' %}">로그인</a></li>
                            </ul>
                        </li>
                        {% endif %}        
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container flex-grow-1">
        {% block content %}
        <!-- 페이지 별 콘텐츠 위치 -->
        {% endblock %}
    </div>

    <!-- 푸터 내용 -->
    {% block bottom %}
    <!-- 페이지 별 콘텐츠 위치 -->
    {% endblock %}
    <footer class="footer mt-auto py-3 bg-dark-subtle">
        <div class="container">
            <div class="row">
                <!-- 규정 및 사업자 정보-->
                <div class="col-8">
                    <div class="row mb-1">
                        <div class="col-auto">
                            <span>© 2024 All Rights Reserved.
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-auto">
                            <span><a href="#" class="text-decoration-none text-reset">서비스 약관</a></span>&nbsp;&nbsp;|&nbsp;&nbsp; 
                            <span><a href="{% url 'privacy_policy' %}" class="text-decoration-none text-reset">개인정보처리방침</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <span><a href="#" class="text-decoration-none text-reset">결제 이용 약관</a></span>&nbsp;&nbsp;|&nbsp;&nbsp;
                            <span><a href="#" class="text-decoration-none text-reset">제휴 문의</a></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-auto">
                            <p class="mb-1"><strong>사업자 등록 번호:</strong> 123-45-67890</p>
                            <p class="mb-1"><strong>대표자명:</strong> 박우영</p>
                            <p class="mb-1"><strong>주소:</strong> 서울 강남구 테헤란로 120</p>
                            <p class="mb-1"><strong>전화번호:</strong> 070-1234-5678</p>
                            <p><strong>이메일:</strong> wooyoung9654@gmail.com</p>
                        </div>
                    </div>
                </div>

                <div class="col-4 d-flex align-items-center justify-content-center">
                    <a class="navbar-brand" style="color:#FD7E14; font-size:100px;" href="/">
                        &nbsp;&nbsp;O :D
                    </a>                    
                </div>
            </div>
        </div>        
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% block script %}{% endblock %}
</html>