{% extends 'audiobook/template.html' %}
{% load static %}


{% block content %}
    <style>
        .loading-indicator {
            display: none;
            position: fixed;  /* 화면에 고정 */
            top: 50%;  /* 화면의 상단으로부터 50% 위치에 배치 */
            left: 50%;  /* 화면의 왼쪽으로부터 50% 위치에 배치 */
            transform: translate(-50%, -50%);  /* 자신의 너비와 높이의 절반만큼 이동해서 정중앙에 배치 */
            z-index: 9999;  /* 다른 요소 위에 표시 */
        }
    </style>
    <!-- 첫 번째 행 -->
    <div class="row mb-4">
        <div class="col">
            <p class="fs-3 fw-bold">나만의 목소리</p>
        </div>
    </div>

    <!-- 첫 번째 행 -->
    <div class="row mb-4">
        <div class="col">
            <p class="fs-2 fw-bold">면접 볼 때의 나</p>
        </div>
    </div>

    <!-- 두 번째 행 -->
    <div class="row justify-content-around">
        <div class="col-3">
            <p class="fw-bold">목소리 들어보기</p>
        </div>
        <div class="col-2">
            <p class="fw-bold">톤</p>
            <input type="text" class="tone" id="voice_tone" name="tone">
        </div>

        <div class="col-1">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" id="public" value="true" checked>
                <label class="form-check-label" for="public">
                    public
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadio" id="private" value="false">
                <label class="form-check-label" for="private">
                    private
                </label>
            </div>
        </div>
    </div>

    <!-- 세 번째 행 -->
    <div class="row justify-content-center mb-4">
        <div class="col-8">
            <textarea id = "tts_text" class="form-control" rows="5" placeholder="여기에 글을 작성하세요"></textarea>
        </div>
    </div>

    <!-- 네 번째 행 -->
    <div class="row justify-content-end">
        <div class="col-3">
            <button id = "play-button" class="btn btn-primary">Play</button>
        </div>
    </div>

    <!-- 공백  -->
    <div class="row justify-content-end mt-5"> </div>
            

    <div class="row mb-4 justify-content-center">
        <div class="col-8">
            <form>
                <div class="form-group">
                    <p class="fw-bold">썸네일 선택</p>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileInput">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- 다섯 번째 행 -->
    <div class="row justify-content-center">
        <div class="col-3">
            <button id="save-btn" class="btn btn-success btn-lg">저장하기</button>
        </div>
        <div class="col-3">
            <button id="cancel-btn" class="btn btn-success btn-lg">돌아가기</button>
        </div>
    </div>

    <div id="loadingIndicator" class="loading-indicator" style="display: none;">
        <img src="{% static 'images/loading.gif' %}" alt="Loading..." />
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            // 클릭 활성화
            {% comment %} document.getElementById('save-btn').addEventListener('click', submit); {% endcomment %}
            // book 이미지를 클릭했을 때의 동작을 정의
            // 저장하기
            document.getElementById('save-btn').addEventListener('click', function() {
                var voiceName = localStorage.getItem('voice_name');
                var tone = document.getElementById('voice_tone').value;
                console.log(tone)
                document.getElementById('loadingIndicator').style.display = 'block';

                var formData = new FormData();
                formData.append('voice_name', voiceName);
                formData.append('voice_public', is_public);
                formData.append('voice_image',voice_image);
                formData.append('tone',tone);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');  // CSRF 토큰 추가
            
                var request = new XMLHttpRequest();
                request.open("POST", "/rvc_save/");  // views.py에 정의된 url
                request.send(formData);

                request.onload = function() {
                    if (request.status == 200) {
                        console.log(request.response);  // 성공 시 응답 출력
                        window.location.href = "{% url 'audiobook:voice_custom' book_id=book_id %}";
                        document.getElementById('loadingIndicator').style.display = 'none';
                    } else {
                        console.log("Went here")
                        console.log(Error(request.statusText));  // 실패 시 에러 출력
                    }
                }
            })

            //취소하기
            document.getElementById('cancel-btn').addEventListener('click', function() {
                var voiceName = localStorage.getItem('voice_name');
                document.getElementById('loadingIndicator').style.display = 'block';

                var formData = new FormData();
                formData.append('voice_name', voiceName);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');  // CSRF 토큰 추가
            
                var request = new XMLHttpRequest();
                request.open("POST", "/rvc_cancel/");  // views.py에 정의된 url
                request.send(formData);

                request.onload = function() {
                    if (request.status == 200) {
                        console.log(request.response);  // 성공 시 응답 출력
                        window.location.href = "{% url 'audiobook:voice_custom_upload' book_id=book_id %}";
                        document.getElementById('loadingIndicator').style.display = 'none';
                    } else {
                        console.log("Went here")
                        console.log(Error(request.statusText));  // 실패 시 에러 출력
                    }
                }
            })

            // voice_name
            var voice_name = localStorage.getItem('voice_name');
            console.log(voice_name)

            // voice_image
            var voice_image;
            document.getElementById('fileInput').addEventListener('change', function (event) {
                voice_image  = fileInput.files[0];
            });           

            // is_public
            var is_public = true;
            // 라디오 버튼의 변경 이벤트를 감지
            var radioButtons = document.getElementsByName('flexRadio');
            radioButtons.forEach(function (radioButton) {
                radioButton.addEventListener('change', function () {
                    if (radioButton.checked) {
                        is_public = radioButton.value === 'true'
                        console.log('선택된 값:', is_public);
                    }
                });
            });

            // user
            // 로그인 정보에서 유저 아이디 가져오기
            {% comment %} function submit() {
                // 폼 데이터 수집
                const data = {
                    voice_name: voice_name,
                    // s3에 저장
                    voice_path: "우엉의.목소리",
                    voice_image_path: voice_image_path,
                    voice_is_public: is_public,
                    // 로그인 된 user의 정보를 받아와 넣어줘야 함
                    user: 1,
                };
        
                // Fetch API를 사용하여 Django REST framework에 POST 요청 보내기
                fetch('{% url "audiobook:voice_custom_upload_post" %}', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'), // CSRF 토큰 추가
                    },
                    body: JSON.stringify(data),
                })
                .then(response => response.json())
                .then(data => {
                    // 서버 응답 처리
                    console.log('서버 응답:', data);
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                });
            }  {% endcomment %}


            // CSRF 토큰을 쿠키에서 가져오는 함수
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        // 쿠키 이름으로 시작하는 경우
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }

            // play button
            document.getElementById("play-button").addEventListener("click", function() {
                var tone = document.getElementById('voice_tone').value;  // 톤 데이터
                var text = document.getElementById('tts_text').value;  // 텍스트 데이터
                var voiceName = localStorage.getItem('voice_name');
                document.getElementById('loadingIndicator').style.display = 'block';
            
                var formData = new FormData();
                formData.append('tone', tone);
                formData.append('text', text);
                formData.append('voice_name', voiceName);
                formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');  // CSRF 토큰 추가
            
                var request = new XMLHttpRequest();
                request.open("POST", "/tts/");  // views.py에 정의된 url
                request.send(formData);
            
                request.onload = function() {
                    if (request.status == 200) {
                        console.log(request.response);  // 성공 시 응답 출력
                        document.getElementById('loadingIndicator').style.display = 'none';
                    } else {
                        console.log(Error(request.statusText));  // 실패 시 에러 출력
                    }
                }
            });
       });

    </script>

{% endblock %}
