{% extends 'audiobook/template.html' %}
{% load static %}

{% block content %}
    <div class="row my-5">
        <h1 class="menu-font">나만의 목소리</h1>
    </div>
    
    <!-- 목소리 만드는 방법 -->
    <div class="border rounded row justify-content-center align-items-center py-5 gap-5">
        <div class="col-3 d-flex flex-column align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mic-fill icon-svg mb-3" viewBox="0 0 16 16" style="width: 100px; height: 100px;">
                <path d="M5 3a3 3 0 0 1 6 0v5a3 3 0 0 1-6 0V3z"/>
                <path d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z"/>
            </svg>
            <p class="fs-6 text-center">10분 분량의 음성 파일 녹음이 필요해요</p>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
            <img src="/static/images/speak.jpg" alt="Image 3" class="img mb-3" style="height: 90px;">
            <p class="fs-6 text-center">정확하고 다양한 높낮이로 녹음할수록 목소리가 잘 만들어져요</p>
        </div>
        <div class="col-3 d-flex flex-column align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-hourglass-split icon-svg mb-3" viewBox="0 0 16 16" style="width: 100px; height: 100px;">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <p class="fs-6 text-center">목소리를 만드는데는 약 1시간이 걸려요</p>
        </div>
    </div>

    <!-- 공백 -->
    <div class="row my-3"> </div>

    <!-- 음성 이름 입력 -->
    <div class="row justify-content-center my-4">
        <div class="col-6">
            <div class="input-group">
                <input type="text" class="form-control" id="voiceName" name="voice_name" placeholder="목소리의 이름" aria-label="내 목소리의 이름">
                <button id="duplicateCheckBtn" class="btn btn-outline-orange-400" type="button">중복 확인</button>
            </div>
        </div>
    </div>

    <!-- 음성 사진 업로드 -->
    <div class="row justify-content-center my-4">
        <div class="col-6">
            <div class="input-group">
                <input type="file" class="form-control" id="voicePhoto" name="voice_photo" accept="image/*" aria-label="음성 사진 선택">
                <button id="photoUploadBtn" class="btn btn-outline-orange-400" type="button">사진 업로드</button>
            </div>
        </div>
    </div>

    <!-- 음성 파일 업로드 -->
    <div class="row justify-content-center my-4">
        <div class="col-6">
            <div class="input-group">
                <input type="file" class="form-control" id="voiceFile" name="voice_file" accept="audio/*" aria-label="음성 파일 선택">
                <button id="uploadBtn" class="btn btn-outline-orange-400" type="button">음성 업로드</button>
            </div>
        </div>
    </div>

    <!-- 생성 버튼 -->
    <div class="row justify-content-center my-5">
        <div class="col-6 d-flex justify-content-center">
            <button id="voiceCreatebtn" type="button" class="btn btn-orange-400 btn-lg" data-bs-toggle="modal" data-bs-target="#voiceCreateModal">생성하기</button>
        </div>
    </div>

{% endblock %}
{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // CSRF 토큰을 가져오는 함수
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var isNameChecked = false;  // 중복 확인 상태를 추적하는 변수

        // 목소리 이름 중복 체크
        document.getElementById('duplicateCheckBtn').addEventListener('click', function() {
            var voiceName = document.getElementById('voiceName').value;

            // 음성 이름이 비어있는 경우 alert 표시
            if (!voiceName.trim()) {
                alert('음성 이름을 입력해주세요.');
                return;
            }

            fetch('{% url "audiobook:voice_custom_upload"%}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({voice_name: voiceName})
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                if (data.message === '사용 가능한 이름입니다.') {
                    isNameChecked = true;  // 중복 확인 완료 상태 설정
                    document.getElementById('duplicateCheckBtn').classList.remove('btn-outline-orange-400');
                    document.getElementById('duplicateCheckBtn').classList.add('btn-orange-400');
                    document.getElementById('duplicateCheckBtn').classList.add('text-white');
                    document.getElementById('duplicateCheckBtn').disabled = true;  // 버튼 비활성화
                }
            });
        });

        // 목소리 생성
        document.getElementById('voiceCreatebtn').addEventListener('click', function() {
            if (!isNameChecked) {
                alert('중복 확인을 진행해주세요.');
                return;
            }

            var formData = new FormData();
            var voiceName = document.getElementById('voiceName').value;
            var voicePhoto = document.getElementById('voicePhoto').files[0];
            var voiceFile = document.getElementById('voiceFile').files[0];
    
            formData.append('voice_name', voiceName);
            formData.append('voice_photo', voicePhoto);
            formData.append('voice_file', voiceFile);
    
            fetch('{% url "audiobook:voice_custom_upload" %}', {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: formData
            })
            .then(response => {
                if(response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                window.location.href = data.redirect_url;
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        });
    });
</script>
{% endblock %}