{% extends 'audiobook/template.html' %}
{% load static %}
{% block style %}
{% endblock %}

{% block content %}
    <div class="row my-5">
        <h1 class="menu-font">{{ voice_name }}</h1>
    </div>

    <!-- 공개/비공개  -->
    <div class="row justify-content-around">
        <div class="col-3">
            <p class="fs-4 fw-bold">목소리 들어보기</p>
        </div>

        <div class="col-1">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="isPublic" id="public" value="true" checked>
                <label class="form-check-label" for="public">
                    public
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="isPublic" id="private" value="false">
                <label class="form-check-label" for="private">
                    private
                </label>
            </div>
        </div>
    </div>

    <!-- 예제 텍스트 폼  -->
    <div class="row justify-content-center mb-4">
        <div class="col-8">
            <textarea id = "tts_text" class="form-control" rows="5" placeholder="여기에 글을 작성하세요"></textarea>
        </div>
    </div>

    <!-- 톤 조정하기-->
    <div class="row justify-content-center mb-4">
        <div class="col-8">
            <label for="toneRange" class="form-label fs-4 fw-bold">톤 조정하기</label>
            <input type="range" class="form-range" id="toneRange" min="0" max="12" value="0">

        </div>
    </div>

    <!-- 플레이 버튼 -->
    <div class="row justify-content-end">
        <div class="col-3">
            <button id = "playButton" class="btn btn-outline-orange-400">Play</button>
        </div>
    </div>

    <!-- 여백 -->
    <div class="row my-5"></div>

    <!-- 저장하기 / 돌아가기 버튼-->
    <div class="row justify-content-center">
        <div class="col-3 d-flex justify-content-center">
            <a href="#" id="cancel-btn" class="btn btn-danger fw-bold btn-lg">돌아가기</a>
        </div>
        <div class="col-3 d-flex justify-content-center">
            <a href="#" id="saveBtn" class="btn btn-orange-400 btn-lg">저장하기</a>
        </div>
    </div>

    <!-- 여백 -->
    <div class="row my-5"></div>

    <!-- 로딩 이미지-->
    <img src="\static\images\loading.gif" class="loader" alt="로딩 중" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 9999;">

{% endblock %}
{% block script %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // CSRF 토큰을 가져오는 함수
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        // 예제 텍스트 실행
        document.getElementById('playButton').addEventListener('click', function() {
            var ttsText = document.getElementById('tts_text').value;
            var toneValue = document.getElementById('toneRange').value;
        
            fetch('{% url "audiobook:voice_custom_complete" book.book_id%}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    action: 'play',
                    tts_text: ttsText,
                    tone: toneValue
                })
            })
            .then(response => {
                if(response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                console.log(data);
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        });

        // 목소리 저장하기
        document.getElementById('saveBtn').addEventListener('click', function() {
            var toneValue = document.getElementById('toneRange').value;
            var publicStatus = document.querySelector('input[name="isPublic"]:checked').value;
            document.querySelector('.loader').style.display = 'block';
    
            fetch('{% url "audiobook:voice_custom_complete" book.book_id%}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    action: 'save',
                    tone: toneValue, 
                    public: publicStatus
                })
            })
            .then(response => {
                if(response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                if (data.redirect_url) {
                    document.querySelector('.loader').style.display = 'none';
                    console.log(data.redirect_url)
                    window.location.href = data.redirect_url;
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        });

        // 돌아가기
        document.getElementById('cancel-btn').addEventListener('click', function() {
            var toneValue = document.getElementById('toneRange').value;
            var publicStatus = document.querySelector('input[name="isPublic"]:checked').value;
    
            fetch('{% url "audiobook:voice_custom_complete" book.book_id%}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')
                },
                body: JSON.stringify({
                    action: 'cancel',
                })
            })
            .then(response => {
                if(response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok.');
                }
            })
            .then(data => {
                if (data.redirect_url) {
                    window.location.href = data.redirect_url;
                }
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });
        });

    });
</script>
{% endblock %}
