/* 컨테이너를 화면 하단에 고정하기 */
.bottom-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
  }

  .bottom-container {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px; /* 푸터 높이를 고려하여 조정 */
    text-align: center;
  }
  p, a {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }