.main-wrapper {
  position: relative; /* 상대적 위치 지정 */
}

.main-wrapper h2 {
  font-weight: bold; /* 제목 글씨를 굵게 설정 */
  margin-top: 40px; /* 위쪽 여백 설정 */
  margin-bottom: 50px; /* 상단 네비게이터와의 여백을 20px로 설정 */
}

.main-container {
  display: flex;
  flex-wrap: wrap; /* 아이템들이 줄바꿈 되도록 설정 */
}

.main-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 등 웹킷 기반 브라우저에서 스크롤바 숨김 */
}

