.main-wrapper {
  position: relative; /* 상대적 위치 지정 */
}

.main-wrapper h2 {
  font-weight: bold; /* 제목 글씨를 굵게 설정 */
  margin-top: 40px; /* 위쪽 여백 설정 */
  margin-bottom: 50px; /* 상단 네비게이터와의 여백을 20px로 설정 */
}

.main-container {
  display: flex;
  flex-wrap: wrap; /* 아이템들이 줄바꿈 되도록 설정 */
  justify-content: space-between; /* 아이템 간의 여백을 균등하게 분배 */
}

.main-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리 등 웹킷 기반 브라우저에서 스크롤바 숨김 */
}

/* 아이템 스타일 */
.book-card {
  flex: 0 0 auto; /* 아이템들이 줄어들지 않도록 설정 */
  width: 200px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  height: auto;
  margin-bottom: 50px;
}

.book-card img {
width: 100%; /* 이미지 너비를 카드 너비와 동일하게 설정 */
height: 100%; /* 이미지 높이를 카드 높이와 동일하게 설정 */
object-fit: cover; /* 이미지가 비율을 유지하면서 컨테이너를 채우도록 설정 */
object-position: center; /* 이미지가 컨테이너의 중앙에 위치하도록 설정 */
}

.book-card:hover {
transform: scale(1.08);
}

.book-info {
  position: absolute; /* 절대 위치 지정 */
  top: 50%; /* 상단에서 50% 위치 */
  left: 50%; /* 좌측에서 50% 위치 */
  transform: translate(-50%, -50%); /* 요소 중앙 정렬 */
  text-align: center; /* 글자 중앙 정렬 */
  opacity: 0; /* 기본 상태에서 보이지 않음 */
  transition: opacity 0.3s; /* 부드러운 투명도 변환 */
  pointer-events: none; /* 마우스 이벤트 무시 */
}

.book-card:hover .book-info {
opacity: 1; /* 마우스 오버 시 정보 표시 */
color: #FFF; /* 글자 색상 */
}

.book-card:hover .book-img {
opacity: 0.5; /* 마우스 오버 시 이미지 투명도 변경 */
filter: sepia(60%) brightness(20%);
}

.bottom-container {
  text-align: center; /* 컨테이너 안의 모든 내용을 가운데 정렬합니다 */
  margin-bottom : 30px;
}

.bottom-container p {
  display: block; /* 블록 레벨 요소로 만들어 줄 전체를 차지하게 합니다 */
  font-size: 18px;
  font-weight: bold;

}

.bottom-container button {
  display: inline-block; /* 인라인 블록 요소로 만들어 가운데 정렬이 가능하게 합니다 */
}