{% extends 'community/template.html' %}
{% load static %}

{% block title %}책 신청 완료{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
  <!-- 서브 네비게이션 바 -->
  {% include 'community/sub_navbar.html' %}

  <!-- 신청 완료 메시지 -->
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
      <img src="{{ image }}" alt="Status Image" class="status-image" />
      <p>{{ message|safe }}</p>
    </div>
  </div>
{% endblock %}

{% block script %}{% endblock %}