{% extends 'community/template.html' %}
{% load static %}

{% block title %}공유 및 커뮤니티{% endblock %}
{% block style %}
<style>
    .content-item {
        width: 120px; /* 가로 크기 */
        height: 120px; /* 세로 크기 */
        padding: 0px;
        border: 1px solid #ccc;
    }

    .content-item img {
        width: 100%; /* 이미지를 부모 요소의 100% 크기로 설정 */
        height: 100%; /* 가로 비율 유지 */
        display: block; /* 인라인 요소의 기본 여백 제거 */
        transition: transform 0.3s ease-in-out; /* 호버 트랜지션 효과 */
    }

    .content-item img:hover {
        z-index: 1;
        transform: scale(1.5); /* 확대 비율 */
        }

    .custom-mt {
        margin-top: 120px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        color: #A4A4A4;
        padding: 1px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .custom-focus {
        font-size: 20px;
        font-weight: bold;
        background-color: #F2E7C4;
        color: #000;
        padding: 1px;
    }

    .category-title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    .hoverable {
        transition: transform 0.2s ease-in-out; /* 확대 트랜지션 속성 추가 */
        transform-origin: center center; /* 확대의 중심을 가운데로 조절 */
    }

    .hoverable:hover {
        z-index: 1;
        transform: scale(1.2); /* 확대 비율 */
    }
</style>
{% endblock %}

{% block content %}
    {% include 'community/sub_navbar.html' %}
    <div class="container text-center">
        <div class="row mt-3 justify-content-end">
            <div class="col-6">
                <div class="input-group gap-4">
                    <div class="col">
                        <input type="text" class="form-control rounded-start rounded-end" placeholder="음성 입력" aria-label="음성 입력" aria-describedby="basic-addon2">
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">음성 검색</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-5"> </div>
    
    <div class="row justify-content-end mt-5"> </div>

    <div id='custom-content'>
        <div class="row gap-3 justify-content-start" id="bookContainer">

        </div>
    </div>

    <div class="row justify-content-end mt-5"> </div>
    <div class="row justify-content-end mt-5"> </div>

    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#">다음</a>
        </li>
    </ul>

{% endblock %}

{% block script %}
<script>
    // book 이미지를 클릭했을 때의 동작을 정의
    document.addEventListener('DOMContentLoaded', function() {
        var books = {{books|safe}}
        console.log(books)
        books.forEach(addBookImage)

        // 이미지 추가 함수
        function addBookImage(book) {
            var imageElement = document.createElement('img');
            imageElement.src = book.book_image_path;
            imageElement.id = book.book_id;
            imageElement.classList.add('img', 'col-md-1', 'content-item', 'hoverable');

            imageElement.addEventListener('click', function() {
                var bookId = imageElement.getAttribute('id');
                console.log(bookId)
                window.location.href = "{% url 'community:book_share_content' pk=0 %}".replace('0', bookId);
            });
            bookContainer.appendChild(imageElement);
        }
    });
</script>
{% endblock %}