{% extends 'community/template.html' %}
{% load static %}

{% block title %}O :D - 공유 및 커뮤니티{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <div class="my-5"></div>

    <div class="container d-flex align-items-center justify-content-center" style="height: 75vh;">
        <form id="postForm" class="w-100">
            {% csrf_token %}
            <div class="row">
                <!-- 첫 번째 칸: 제목과 내용 -->
                <div class="col-md-1">
                    <p class="fs-4 fw-bold">제목</p>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" id="title1" placeholder="제목을 입력하세요" name="post_title">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-1">
                    <p class="fs-4 fw-bold">내용</p>
                </div>
                <div class="col-md-10">
                    <div class="form-group">
                        <textarea class="form-control" id="content1" rows="18" placeholder="내용을 입력하세요" name='post_content'></textarea>
                    </div>
                </div>
            </div>

            <div class="row justify-content-end mt-5"> </div>


            <!-- 글쓰기 버튼 -->
            <div class="row">
                <div class="col-md-11 d-flex justify-content-end">
                    <button id="postButton" type="submit" class="btn btn-orange-400 btn-block mb-3">글쓰기</button>
                </div>
            </div>
            <input id="book_id_input" type="hidden" name="book_id" value="">
        </form> 
    </div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var bookId = localStorage.getItem('current_book_id');
        var bookIdInput = document.getElementById('book_id_input');
        if (bookId && bookIdInput) {
            bookIdInput.value = bookId;
        }
        // 글쓰기 버튼 클릭 시 이벤트 핸들러
        document.getElementById('postButton').addEventListener('click', function () {
            event.preventDefault();  // 폼 전송 기본 동작 막기
            
            // FormData 객체 생성 및 폼 데이터 추가
            var formData = new FormData(document.getElementById('postForm'));

            // POST 요청 보내기
            fetch("{% url 'community:post_list' %}", {
                method: 'POST',
                body: formData,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                // 성공적으로 데이터를 받아온 경우 실행되는 로직
                console.log(data);
                window.location.href = "{% url 'community:book_share_content' pk=0 %}".replace('0', bookId);
            })
            .catch(error => {
                // 오류가 발생한 경우 처리
                console.error('오류 발생:', error);
            });
        });
    });

</script>
{% endblock %}