{% extends 'community/template.html' %}
{% load static %}

{% block title %}도서 검색{% endblock %}
{% block content %}
    <a href='main'><div>둘러 보기</div></a>
    <h1>도서 검색</h1>
    <form method="get" action="{% url 'community:book_search' %}">
        <input type="text" name="query" placeholder="검색" />
        <button type="submit">검색하기</button>
    </form>
    {% if books %}
    <div class="books-grid">
        {% for book in books %}
        <div class="book-item">
            <a href="{% url 'community:book_complete' book.isbn %}">  <!-- get 요청 -->
                <img src="{{ book.image }}" alt="{{ book.title }}" />
            </a>
            <div class="book-info">
                <h4>{{ book.title }}</h4>
                <p class="author">저자: {{ book.author }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% elif query %}
    <p>검색 결과가 없습니다.</p>
    {% endif %}
{% endblock %}