{% extends 'community/template.html' %}
{% load static %}

{% block title %}공유 및 커뮤니티{% endblock %}
{% block style %}
<style>
    .card-img-top {
        transition: transform 0.3s ease-in-out; /* 호버 트랜지션 효과 */
    }

    .card-img-top:hover {
        z-index: 1;
        transform: scale(1.5); /* 확대 비율 */
    }
</style>
{% endblock %}

{% block content %}
    {% include 'community/sub_navbar.html' %}
    <!-- 상단 검색창 -->
    <div class="container text-center mt-3">
        <div class="row justify-content-end">
            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="도서명을 입력해주세요" aria-label="도서명 검색">
                    <button class="btn btn-outline-secondary" type="button">검색</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 컨텐츠 영역 -->
    <div class="container mt-5">
        <div class="row g-5 justify-content-center">
            {% for book in books %}
                <div class="col-md-2" id="{{ book.book_id }}">
                    <div class="card">
                        <img src="{{ book.book_image_path }}" class="card-img-top" alt="{{ book.title }}" style="cursor:pointer;">
                    </div>
                </div>
                {% if forloop.counter|divisibleby:5 and not forloop.last %}
                    </div><div class="row g-5 justify-content-center mt-3">
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <!-- 하단 간격 추가 -->
    <div class="mb-5"></div>

    <!-- 페이지네이션 -->
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
            </li>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ num }}</a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1" aria-disabled="true">다음</a>
            </li>
        {% endif %}
    </ul>

{% endblock %}

{% block script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var bookImages = document.querySelectorAll('.card-img-top');

        bookImages.forEach(function(image) {
            image.addEventListener('click', function() {
                // 클릭 시 지정된 URL로 리다이렉트
                var bookId = image.parentElement.parentElement.id;  // 카드의 ID를 bookId로 사용
                window.location.href = "{% url 'community:book_share_content' book_id=0 %}".replace('0', bookId);
            });
        });
    });
</script>
{% endblock %}