{% extends 'community/template.html' %}
{% load static %}

{% block title %}O: D - 공유 및 커뮤니티{% endblock %}
{% block style %}
<style>
    .hoverable {
        transition: transform 0.2s ease-in-out; /* 확대 트랜지션 속성 추가 */
        transform-origin: center center; /* 확대의 중심을 가운데로 조절 */
    }

    .hoverable:hover {
        z-index: 1;
        transform: scale(1.2); /* 확대 비율 */
    }
</style>
{% endblock %}

{% block content %}
    {% include 'community/sub_navbar.html' %}
    <!-- 상단 검색창 -->
    <div class="container text-center mt-3">
        <div class="row justify-content-end">
            <div class="col-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="도서명을 입력해주세요" aria-label="도서명 검색">
                    <button class="btn btn-outline-secondary" type="button">검색</button>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-end mt-5"> </div>
    
    <!-- 도서 -->
    <div class="container mt-5">
        <div class="row">
            {% for book in page_obj %}
            <div class="col-2 mb-4">
                <div class="card hoverable">
                    <a href="{% url 'community:book_share_content' book.book_id %}" style="text-decoration: none; color: inherit;">
                        <img src="{{ file_path }}{{ book.book_image_path }}" class="card-img-top" alt="Book Image" style="cursor:pointer">
                        <div class="card-body">
                            <h5 class="card-title">{{ book.title }}</h5>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    <!-- 페이지네이션 -->
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">이전</span>
            </li>
            {% endif %}
            
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">다음</span>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}

{% block script %}
{% endblock %}