{% extends 'community/template.html' %}
{% load static %}

{% block title %}공유 및 커뮤니티{% endblock %}
{% block style %}
<style>
    /* 기본 스타일 */
    body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }
    /* 네비게이터 스타일 */
    .navigator {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f5f5f5;
    }
    .navigator button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    }
    /* 컨텐츠를 중앙에 위치시키는 컨테이너 */
    .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px); /* 네비게이터 높이를 빼줍니다 */
    }
    /* 내용 스타일 */
    .content {
    text-align: center;
    /* 추가적인 스타일링이 필요하다면 여기에 추가하세요 */
    }
    .icon {
    font-size: 48px; /* 아이콘 크기 */
    }
    



    .content-item {
        width: 120px; /* 가로 크기 */
        height: 120px; /* 세로 크기 */
        padding: 0px;
        border: 1px solid #ccc;
    }

    .content-item img {
        width: 100%; /* 이미지를 부모 요소의 100% 크기로 설정 */
        height: 100%; /* 가로 비율 유지 */
        display: block; /* 인라인 요소의 기본 여백 제거 */
        transition: transform 0.3s ease-in-out; /* 호버 트랜지션 효과 */
    }

    .content-item img:hover {
        z-index: 1;
        transform: scale(1.5); /* 확대 비율 */
        }

    .custom-mt {
        margin-top: 120px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        color: #A4A4A4;
        padding: 1px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .custom-focus {
        font-size: 20px;
        font-weight: bold;
        background-color: #F2E7C4;
        color: #000;
        padding: 1px;
    }

    .category-title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    .center-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .center-icon svg {
        width: 60px; /* 아이콘의 너비 */
        height: 60px; /* 아이콘의 높이 */
        transition: transform 0.3s ease-in-out; /* 호버 트랜지션 효과 */
    }

    .center-icon:hover svg {
        transform: scale(1.2); /* 호버 시 크기 조절 */
    }


    .custom-icon {
        width: 50px;
        height: 50px;
    }

    #buttonGroup {
        display: flex;
        justify-content: space-around;
    }
    
    #buttonGroup .btn {
        flex: 1;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row justify-content-end mt-5"> </div>
    <div class="row justify-content-end mt-5"> </div>
    <div class="row justify-content-end mt-5"> </div>
    <!-- 버튼 그룹: 삭제, 수정, 세션 정보에 따라 보이고 안보이게 -->
    <div class="row justify-content-end">
        <div class="col-md-3">
            <div class="btn-group gap-3">
                <button id="commentUpdateButton" type="button" class="btn btn-warning rounded-pill">수정</button>
                <button id="commentDeleteButton" type="button" class="btn btn-danger rounded-pill">삭제</button>
                <button id="commentEditCompleteButton" type="button" class="btn btn-success rounded-pill" style="display: none;">수정 완료</button>
                <!-- 취소 버튼은 처음에는 숨겨져 있음 -->
            <button id="commentCancelUpdateButton" type="button" class="btn btn-secondary rounded-pill" style="display: none;">취소</button>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-5"> </div>

    <div class="row">
        <!-- 첫 번째 칸: 제목과 내용 -->
        <div class="col-md-1">
            <p class="fs-4 fw-bold">제목</p>
        </div>
        <div class="col-md-10">
               <p id="post_input_title" class="fs-4 fw-bold">{{ post.post_title }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <p class="fs-4 fw-bold">내용</p>
        </div>
        <div class="col-md-10">
            <div class="border p-3">
                <p id="post_input_content" class="fs-5">{{ post.post_content }}</p>
            </div>
        </div>
    </div>

    <div class="row justify-content-end mt-5"> </div>
    <form id="commentForm">
        {% csrf_token %}
        <input type="hidden" name="post" value="{{ post.post_id }}">
        <!-- 첫 번째 행 -->
        <div class="row">
            <div class="col-1 offset-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-chat-left-text custom-icon" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                </svg>
            </div>
                <div class="col-7">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name='comment_content' placeholder="댓글 입력" aria-label="댓글 입력" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="submitCommentButton">글쓰기</button>
                    </div>
                </div>
            <div class="col-1">
                <!-- 텍스트 -->
                <p>댓글</p>
            </div>
            <div class="col-1">
                <!-- 텍스트 -->
                <p>{{comments|length}}</p>
            </div>
        </div>
    </form> 


    <div class="row mt-5"> </div>

    <!-- 다음 행 -->
    {% for comment in comments %}
        <div class="row">
            <div class="col-1 offset-md-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
                </svg>
            </div>
            <div class="col-6">
                <!-- 내용 -->
                <p>{{comment.comment_content}}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        var editMode = false; // 편집 모드 여부를 추적하는 변수

        // CSRF 토큰 설정
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                // 요청 메서드가 "Safe" 메서드가 아닌 경우 (즉, GET, HEAD, OPTIONS 등이 아닌 경우)
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                }
            }
        });

        // Submit 버튼 클릭 시 AJAX 요청
        $("#submitCommentButton").click(function(event) {
            event.preventDefault();  // 기본 동작 막기

            // 폼 데이터 생성
            var formData = $("#commentForm").serialize();
            // AJAX 요청
            $.ajax({
                type: "POST",
                url: "{% url 'community:comment_list' %}",
                data: formData,
                success: function(response) {
                    // 서버 응답 처리
                    handleCommentResponse(response);
                },
                error: function(error) {
                    // 에러 처리
                    console.error(error);
                }
            });
        });

        // 삭제 버튼 클릭 시 AJAX 요청
        $("#commentDeleteButton").click(function(event) {
            event.preventDefault();  // 기본 동작 막기
            console.log('de')
            // AJAX 요청
            $.ajax({
                type: "DELETE",
                url: "{% url 'community:post_detail' pk=post.post_id %}",
                success: function(response) {
                    // 서버 응답 처리
                    console.log(response)
                    handleCommentResponse(response);
                },
                error: function(error) {
                    // 에러 처리
                    console.error(error);
                }
            });
        });

        // "수정" 버튼에 대한 클릭 이벤트
        $("#commentUpdateButton").click(function() {
            // 모든 id에 "post_input"이 포함된 요소 선택
            $("[id*='post_input']").each(function () {
                var $element = $(this);
                $element.replaceWith(function () {
                    // 원본 텍스트 저장
                    var text = $element.text();
                    return $("<input>", {
                        type: "text",
                        class: "form-control",
                        id: $element.attr("id"),
                        value: text
                    });
                });
            });
            // 토글 편집 모드
            editMode = !editMode;
           // 수정 모드일 때 "수정 완료" 버튼과 "취소" 버튼 표시
            $("#commentEditCompleteButton, #commentCancelUpdateButton").css("display", "inline-block");
            // "수정" 버튼과 "삭제" 버튼 숨김
            $("#commentUpdateButton, #commentDeleteButton").css("display", "none");
        });

        // "수정 완료" 버튼에 대한 클릭 이벤트
        $("#commentEditCompleteButton").click(function() {
            // 업데이트된 제목과 내용을 가져옴
            var updatedTitle = $("#post_input_title").val();
            var updatedContent = $("#post_input_content").val();

            $.ajax({
                method: "PUT",
                url: "{% url 'community:post_detail' pk=post.post_id %}",  // 이 부분 수정
                data: {
                    new_title: updatedTitle,
                    new_content: updatedContent,
                },
                success: function(response) {
                    // 성공 처리
                    console.log(response);
                    handleCommentResponse(response)
                },
                error: function(error) {
                    // 에러 처리
                    console.error(error);
                }
            });
        }); 

        // "취소" 버튼에 대한 클릭 이벤트
        $("#commentCancelUpdateButton").click(function() {
            // 취소 버튼 클릭 시 편집 모드 종료
            editMode = false;
            // 모든 id에 "post_input"이 포함된 요소를 다시 텍스트로 변경
            // 페이지 리로드
            window.location.reload(); 
            // 편집 모드일 때 "수정 완료" 버튼과 "취소" 버튼 숨김
            $("#commentEditCompleteButton, #commentCancelUpdateButton").css("display", "none");
            // "수정" 버튼과 "삭제" 버튼 표시
            $("#commentUpdateButton, #commentDeleteButton").css("display", "inline-block");
        });

        function handleCommentResponse(response) {
            if (response.result) {
                console.log('댓글이 성공적으로 삭제되었습니다.');
                // 댓글이 성공적으로 삭제되었을 경우 리다이렉트
                window.location.href = response.redirect_url;
            } else {
                // 댓글 생성 실패 시에 대한 처리 (예: 오류 메시지 표시 등)
                console.error(response.errors);
            }
        }
    });
</script>

{% endblock %}