{% extends 'community/template.html' %}
{% load static %}

{% block title %}도서 검색{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
    <!-- 서브 네비게이션 바 -->
    {% include 'community/sub_navbar.html' %}

    <!-- 신규 도서 신청 -->
    <div class="container my-4">
      <form method="get" action="{% url 'community:book_search' %}" class="d-flex justify-content-center mb-4">
          <input type="text" name="query" placeholder="등록하고 싶은 도서를 검색해보세요." value="{{ request.GET.query }}" class="form-control w-50" />
          <button type="submit" class="btn btn-outline-orange-400 ms-2">검색</button>
      </form>
      {% if books %}
          <div class="row row-cols-1 row-cols-md-4 g-4">
              {% for book in books %}
                  <div class="col">
                      <div class="card h-100">
                          <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}" style="height: 200px; object-fit: contain;">
                          <div class="card-body">
                              <h5 class="card-title">{{ book.title }}</h5>
                              <p class="card-text">저자: {{ book.author }}</p>
                          </div>
                          <div class="card-footer d-flex justify-content-end">
                              <a href="{% url 'community:book_complete' book.isbn %}" class="btn btn-secondary">신청하기</a>
                          </div>
                      </div>
                  </div>
              {% endfor %}
          </div>
      {% elif query %}
          <p class="text-center">검색 결과가 없습니다.</p>
      {% endif %}
  </div>

{% endblock %}

{% block script %}
{% endblock %}