{% extends 'community/template.html' %}
{% load static %}

{% block title %}공유 및 커뮤니티{% endblock %}
{% block style %}
<style>
    /* 기본 스타일 */
    body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }
    /* 네비게이터 스타일 */
    .navigator {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #f5f5f5;
    }
    .navigator button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    }
    /* 컨텐츠를 중앙에 위치시키는 컨테이너 */
    .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 40px); /* 네비게이터 높이를 빼줍니다 */
    }
    /* 내용 스타일 */
    .content {
    text-align: center;
    /* 추가적인 스타일링이 필요하다면 여기에 추가하세요 */
    }
    .icon {
    font-size: 48px; /* 아이콘 크기 */
    }
    



    .content-item {
        width: 120px; /* 가로 크기 */
        height: 120px; /* 세로 크기 */
        padding: 0px;
        border: 1px solid #ccc;
    }

    .content-item img {
        width: 100%; /* 이미지를 부모 요소의 100% 크기로 설정 */
        height: 100%; /* 가로 비율 유지 */
        display: block; /* 인라인 요소의 기본 여백 제거 */
        transition: transform 0.3s ease-in-out; /* 호버 트랜지션 효과 */
    }

    .content-item img:hover {
        z-index: 1;
        transform: scale(1.5); /* 확대 비율 */
        }

    .custom-mt {
        margin-top: 120px;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        background-color: #fff;
        color: #A4A4A4;
        padding: 1px;
        transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    }
    
    .custom-focus {
        font-size: 20px;
        font-weight: bold;
        background-color: #F2E7C4;
        color: #000;
        padding: 1px;
    }

    .category-title {
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
    }

    .center-icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .center-icon svg {
        width: 60px; /* 아이콘의 너비 */
        height: 60px; /* 아이콘의 높이 */
        transition: transform 0.3s ease-in-out; /* 호버 트랜지션 효과 */
    }

    .center-icon:hover svg {
        transform: scale(1.2); /* 호버 시 크기 조절 */
    }
</style>
{% endblock %}

{% block content %}
    <div class="row mb-4">
        <div class="col">
            <p class="fs-3 fw-bold">토론방</p>
        </div>
    </div>

    <div class="row justify-content-end mt-5"> </div>
    <div class="row">
        <!-- 왼쪽 col: 책 제목과 포스터 사진 -->
        <div class="col-md-3">
            <h2> {{book.book_title}} </h2>
            <img src="https://via.placeholder.com/300" alt="poster" class="img-fluid mb-4">
        </div>

        <!-- 오른쪽 col: 게시판 -->
        <div class="col-md-9">
            <!-- 각 게시물의 제목, 글쓴이, 작성일을 각각의 col로 나누어 표현 -->
            <div class="card">
                <div class="card-body">
                    {% for post in posts %}
                        <div class="row mb-3" id="post_{{ post.post_id }}">
                            <div class="col-md-4">
                                <h5 class="card-title">{{ post.user_name }}</h5>
                            </div>
                            <div class="col-md-4">
                                <p class="card-text">{{ post.post_title }}</p>
                            </div>  
                            <div class="col-md-4">
                                <p class="card-text">{{ post.post_created_date }}</p>
                            </div>
                        </div>
                    {% endfor %}
                   
                    {% comment %} <div class="row justify-content-end mt-5"> </div>
                    <div class="row justify-content-end mt-5"> </div>
                    <div class="row justify-content-end mt-5"> </div>
                    <div class="row justify-content-end mt-5"> </div>
                    <div class="row justify-content-end mt-5"> </div>
                    <div class="row justify-content-end mt-5"> </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>

    <!-- 공백 -->
    <div class="row justify-content-end mt-5"> </div>

    <!-- 페이지 -->
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">이전</a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#">다음</a>
        </li>
    </ul>

    <!-- 글쓰기 버튼 -->
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end">
            <button id="postButton" type="button" class="btn btn-primary btn-block mb-3">글쓰기</button>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
    localStorage.setItem('book_id',  {{ book.book_id }});
    var storedBookId = localStorage.getItem('book_id');
    console.log('로컬 스토리지에서 가져온 book_id:', storedBookId);
    // 각 게시물에 대한 클릭 이벤트 리스너를 등록
    {% for post in posts %}
        document.getElementById('post_{{ post.post_id }}').addEventListener('click', function() {
            window.location.href = "{% url 'community:book_share_content_post_detail' post_id=0 %}".replace('0', {{ post.post_id }});
        });
    {% endfor %}

    // 글쓰기 버튼 클릭 시
    document.getElementById('postButton').addEventListener('click', function() {
        // 로컬 스토리지에 book_id 저장
        var bookId = {{ book.book_id }}
        localStorage.setItem('current_book_id', bookId);
        var userId = 1
        // 글쓰기 페이지로 이동
        window.location.href = "{% url 'community:book_share_content_post' %}?book_id=" + bookId + "&user_id=" + userId;

    });
</script>
{% endblock %}