{% extends 'user/template.html' %}
{% load static %}

{% block title %}O: D - 독서 이력{% endblock %}
{% block style %}
<style>
    .book-container {
        position: relative;
    }

    .blur-on-hover {
        filter: blur(0); 
        transition: filter 0.5s ease-in-out;
    }

    .listen-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .book-container:hover .blur-on-hover {
        filter: blur(2px); 
    }

    .book-container:hover .listen-button {
        opacity: 1; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height: 80vh">
        
        {% include 'user/sub_navbar.html' %}

        <div class="col-9">
            <div class="row my-5">
                <h1 class="menu-font">독서 이력</h1>
            </div>

            <div class="row">
                <div class="row-10 d-flex justify-content-end">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="latest" value="latest" checked>
                        <label class="form-check-label" for="inlineRadio1">최신순</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="title" value="title">
                        <label class="form-check-label" for="inlineRadio2">제목순</label>
                    </div>
                </div>
            </div>

            <div class="row-10" id = "books-container">
                <!--ajax 통신후 결과 div가 여기에 출력.-->
            </div>

        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function(){
        function loadBooks(orderBy){
            $.ajax({
                url: "{% url 'user:book_history' %}",
                type: "GET",
                data: {'orderBy': orderBy},
                dataType: "json",
                success: function(data){
                    updateBooks(data);
                },
                error: function(error){
                    console.log("Error data : ", error);
                }
            });
        }

        $('input[name="inlineRadioOptions"]').change(function(){
            console.log("Radio Change");
            var orderBy = $('input[name="inlineRadioOptions"]:checked').val();  // 여기서 오류 수정
            loadBooks(orderBy);
        });

        function updateBooks(data) {
            var booksContainer = $('#books-container');
            // console.log(data)
            // 이전 도서 목록 제거
            booksContainer.empty();
        
            if (data.books) {
                // 받아온 데이터를 사용하여 도서 목록 업데이트
                for (var i = 0; i < data.books.length; i++) {
                    var book = data.books[i];
                    // 새로운 도서 카드 생성
                    var cardHtml = `
                        <div class="row">
                            <div class="col-3 book-container">
                                <a href="{% url 'audiobook:content' 0 %}" data-audiobook-url="${book.book_id}" class="audiobook-link">
                                    <img src="${book.book_image_path}" class="rounded blur-on-hover" style="height: 300px; width: 100%;" alt="book Image">
                                </a>
                                <div class="justify-content-center">
                                    <button type="button" class="btn btn-outline-orange-400 btn-md listen-button" data-book-id="${book.book_id}">청취하기</button>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <h3>제목 : ${book.book_title}</h3>
                                </div>
                                <div class="row">
                                    <h3>작가 : ${book.book_author}</h3>
                                </div>
                            </div>
                        </div>
                    `;
        
                    // 도서 목록에 새로운 도서 카드 추가
                    booksContainer.append(cardHtml);
                }
            } else {
                // 좋아요한 도서가 없는 경우 메시지 표시
                var cardHtml = `
                    <div class="row">아직 청취한 책이 없습니다!</div>
                `;
                booksContainer.append(cardHtml);
            }

            // JavaScript로 Django URL 전달 및 청취하기 버튼 클릭 이벤트 처리
            var listenButtons = document.querySelectorAll('.listen-button');
            listenButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var bookId = button.getAttribute('data-book-id');
                    // Redirect to user profile page
                    window.location.href = "{% url 'audiobook:content' 0 %}".replace('0', bookId);
                });
            });
        }

        // 초기 로딩 시 최신순으로 도서 목록 가져오기
        loadBooks('latest');
    });
</script>
{% endblock %}
