{% extends 'user/template.html' %}
{% load static %}

{% block title %}O :D - 1:1 문의{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height:80vh;">
        {% include 'user/sub_navbar.html' %}

        <div class="col-9">
            <div class="row my-5">
                <h1 class="menu-font">1:1 문의 내역</h1>
            </div>

            {% if inquiries %}
            <div class = "table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr class="text-center">
                            <th scope="col">분류</th>
                            <th scope="col">제목</th>
                            <th scope="col">등록일</th>
                            <th scope="col">상태</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for  inquiry in  inquiries %}
                        <tr>
                            <th class="text-center" class="text-center"scope="row">{{inquiry.inquiry_category}}</th>
                            <td>{{inquiry.inquiry_title}}</td>
                            <td class="text-center" >{{inquiry.inquiry_created_date|date:"Y-m-d"}}</td>
                            {% if inquiry.inquiry_is_answered %}
                                <td class="text-center">
                                    <a class="text-decoration-none text-dark" href="{% url 'user:inquiry_detail' inquiry.inquiry_id %}">완료</a>
                                </td>
                            {% else %}
                                <td class="text-center">
                                    <a class="text-decoration-none text-dark" href="{% url 'user:inquiry_detail' inquiry.inquiry_id %}">진행중</a>
                                </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <div class = "row"> 1:1 문의 내역이 없습니다</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}