{% extends 'user/template.html' %}
{% load static %}

{% block title %}O :D - 1:1 문의 {% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height:80vh;">
        {% include 'user/sub_navbar.html' %}

        <div class="col-9">
            <div class="row my-5">
                <h1 class="menu-font">1:1 문의 내역 - 상세</h1>
            </div>
            
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="fw-bold">분류:</span>
                    <span>{{ inquiry.inquiry_category }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="fw-bold">제목:</span>
                    <span>{{ inquiry.inquiry_title }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <span class="fw-bold">내용:</span>
                    <span>{{ inquiry.inquiry_content }}</span>
                </li>
                {% if inquiry.inquiry_is_answered %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="fw-bold">답변:</span>
                        <span>{{ inquiry.inquiry_response }}</span>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</div>
{% endblock %}