{% extends 'user/template.html' %}
{% load static %}

{% block title %}O: D - 1:1 문의 {% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height:80vh;">
        {% include 'user/sub_navbar.html' %}

        <div class="col-9">
            <div class="row-10 mb-20">
                <h1>1:1 문의 내역</h1>
            </div>
            <div class = "row">
                <div class = "col-2">분류</div>
                <div class = "col-10">{{inquiry.inquiry_category}}</div>
            </div>
            <div class = "row">
                <div class = "col-2">제목</div>
                <div class = "col-10">{{inquiry.inquiry_title}}</div>
            </div>
            <div class = "row">
                <div class = "col-2">내용</div>
                <div class = "col-10">{{inquiry.inquiry_content}}</div>
            </div>
            {% if inquiry.inquiry_is_answered %}
            <div class = "row">
                <div class = "col-2">답변</div>
                <div class = "col-10">{{inquiry.inquiry_response}}</div>
            </div>
            {% endif %}
        </div>

    </div>
</div>
{% endblock %}