{% extends 'user/template.html' %}
{% load static %}

{% block title %}좋아요 내역{% endblock %}
{% block style %}
<style>
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;  
        margin-top: 20px;
    }

    .card {
        width: 48%;  
        margin-bottom: 20px;
    }
    .card:hover{
        background-color:#f0f0f0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height: 80vh">
        <!-- 서브 네비게이션 바(세로) -->
        {% include 'user/sub_navbar.html' %}

        <!-- 좋아요 -->
        <div class="col-9 d-flex flex-column align-items-center justify-content-center">
            <div class="w-100 text-center mb-3">
                <h1>좋아요 내역</h1>
            </div>
            <div class="w-100 mb-3">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">책</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">성우</a>
                    </li>
                </ul>
            </div>
            <div class="w-100 d-flex justify-content-end">
                <!-- 라디오 버튼 -->
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="latest" checked>
                    <label class="form-check-label" for="inlineRadio1">최신순</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="title">
                    <label class="form-check-label" for="inlineRadio2">제목순</label>
                </div>
            </div>

            <div class="w-100" id="books-container">
                {% if books %}
                    <div class="row">
                        {% for book in books %}
                            <div class="col-6">
                                <a href="#">
                                    <div class="card gap-1" style="width: 18rem;">
                                        <img src="{{ book.book_image_path }}" style="height: 400px;" class="card-img-top" alt="book image">
                                        <div class="card-body">
                                            <p class="card-text">{{ book.book_title }}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2>좋아요를 눌러 책을 쉽게 찾아보세요!</h2>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}