{% extends 'user/template.html' %}
{% load static %}

{% block title %}좋아요 내역{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 custom-nav">
            <ul class="nav flex-column nav-pills my-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:profile' %}">구독 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:inform' %}">회원 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active "  aria-current="page"  href="{% url 'user:books' %}">좋아요 내역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "#">독서 이력</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "#">1:1 문의</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row-10">
                <h1>좋아요 내역</h1>
            </div>
            <div class="row-2">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link"  href="{% url 'user:books' %}">책</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'user:voices' %}">성우</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}