{% extends 'user/template.html' %}
{% load static %}

{% block title %}O :D - 좋아요 내역{% endblock %}
{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height:80vh;">
        {% include 'user/sub_navbar.html' %}

        <div class="col-9">
            <div class="row my-5">
                <h1 class="menu-font">좋아요 내역</h1>
            </div>
            <div class="row">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:like_books' %}">책</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"  href="{% url 'user:like_voices' %}">성우</a>
                    </li>
                </ul>
            </div>
            <div class="d-flex flex-row-reverse mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="name" value="name">
                    <label class="form-check-label" for="inlineRadio2">이름순</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="latest" value="latest" checked>
                    <label class="form-check-label" for="inlineRadio1">최신순</label>
                </div>
            </div>

            <div class="row" id="voice-container">
                <!--ajax 통신후 결과 div가 여기에 출력.-->
            </div>
            
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function(){
        function loadVoices(orderBy){
            $.ajax({
                url: "{% url 'user:like_voices' %}",
                type: "GET",
                data: {'orderBy': orderBy},
                dataType: "json",
                success: function(data){
                    updateVoices(data);
                },
                error: function(error){
                    console.log("Error data : ", error);
                }
            });
        }

        $('input[name="inlineRadioOptions"]').change(function(){
            console.log("Radio Change")
            var orderBy = $('input[name="inlineRadioOptions"]:checked').val();  // 여기서 오류 수정
            loadVoices(orderBy);
        });

        function updateVoices(data) {
            var voicesContainer = $('#voice-container');
            // console.log(data)
            // 이전 도서 목록 제거
            voicesContainer.empty();
        
            if (data.voices) {
                // 받아온 데이터를 사용하여 도서 목록 업데이트
                for (var i = 0; i < data.voices.length; i++) {
                    var voice = data.voices[i];
                    // 새로운 도서 카드 생성
                    var cardHtml = `
                        <div class="col-6">
                            <div class="card gap-1" style="width: 18rem;">
                                <a href="#">
                                    <img src="${voice.voice_image_path}" style="height: 400px;" class="card-img-top" alt="book image">
                                </a>
                                <div class="card-body">
                                    <p class="card-text">${voice.voice_name}</p>
                                </div>
                            </div>
                        </div>
                        `;
        
                    // 도서 목록에 새로운 도서 카드 추가
                    voicesContainer.append(cardHtml);
                }
            } else {
                // 좋아요한 도서가 없는 경우 메시지 표시
                var messageHtml = `<h2>좋아요를 눌러 성우를 등록하여 보세요!</h2>`;
                voicesContainer.append(messageHtml);
            }
        }
        

        // 초기 로딩 시 최신순으로 도서 목록 가져오기
        loadVoices('latest');
    });
</script>
{% endblock %}