{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}"/>
    <link href="{% static 'bootstrap/css/custom.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" />    
    <title>O :D - 로그인</title>
</head>
<body class="bg-light d-flex justify-content-center align-items-center" style="height: 100vh;">

    <div class="container text-center">
        <div class="img_container mb-4">
            <img src="{% static 'login_image.png' %}" class="img-fluid rounded" alt="Login Image" style="max-width: 300px;">
        </div>

        <div class="social-login-container d-flex flex-column align-items-center gap-3">

            <!-- Google Login Button -->
            <a href = "{% url 'user:google_login'%}" class="btn btn-outline-danger" style="width: 200px; height: 40px;">
                <img src="{% static 'logo/google.webp' %}" alt="Google Logo" width="24" height="24">
                <span class="ms-2">Google</span>
            </a>
    
            <!-- Kakao Login Button -->
            <a href= "{% url 'user:kakao_login' %}" class="btn btn-outline-warning" style="width: 200px; height: 40px;">
                <img src="{% static 'logo/kakao.svg' %}" alt="Kakao Logo" width="24" height="24">
                <span class="ms-2">Kakao</span>
            </a>
    
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>