{% extends 'user/template.html' %}
{% load static %}

{% block title %}O: D - 구독 정보{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height: 80vh;">
        {% include 'user/sub_navbar.html' %}

        <div class="col-9 d-flex flex-column align-items-center justify-content-center">
            <div class="row text-center mb-5">
                <h1 class="menu-font">책을 원하는 목소리로 들을 수 있는 기회를 누려보세요!</h1>
            </div>
            <div class="row">
                <form method="post" action="{% url 'user:payments' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-orange-400">구독하기</button>
                </form>
            </div>            
        </div>
    </div>
</div>
{% endblock %}