{% extends 'user/template.html' %}
{% load static %}

{% block title %}도서 검색{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 custom-nav">
            <ul class="nav flex-column ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="">구독 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">회원 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">좋아요 내역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "#">독서 이력</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "#">1:1 문의</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row-10 text-center">
                <h1>책을 원하는 목소리로 들을 수 있는 기회를 누려보세요!</h1>
            </div>
            <div class="row-10 d-flex justify-content-center">
                <button type="button" class="btn btn-outline-orange-200 btn-sm">구독하기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}