{% extends 'user/template.html' %}
{% load static %}

{% block title %}구독 정보{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-3 custom-nav">
            <ul class="nav flex-column nav-pills my-5">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'user:profile'%}">구독 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:inform' %}">회원 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user:books' %}">좋아요 내역</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "{% url 'user:history'%}">독서 이력</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href = "{% url 'user:inquiry' %}">1:1 문의</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <div class="row-10 mb-20">
                <h1>구독 정보</h1>
                <h3>{{user.nickname}}님의 구독 정보 입니다.</h3>
            </div>
            <div class="row-10">
                잔여일수 : {{left_days}}일
            </div>
            <div class="row-10">
                자동 결제일: 2023년 1월 25일
            </div>
        </div>
    </div>
</div>
{% endblock %}