{% extends 'user/template.html' %}
{% load static %}

{% block title %}O :D - 구독 정보{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% include 'user/sub_navbar.html' %}
        <div class="col-9" style="min-height: 80vh;">
            <div class="row-10 mb-20">
                <h1>구독 정보</h1>
                <h3>{{user.nickname}}님의 구독 정보 입니다.</h3>
            </div>
            <div class="row-10">
                잔여일수 : {{left_days}}일
            </div>
            <div class="row-10">
                자동 결제일: 2023년 1월 25일
            </div>
        </div>
    </div>
</div>
{% endblock %}