{% extends 'user/template.html' %}
{% load static %}

{% block title %}구독 정보{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height: 80vh">
        <!-- 서브 네비게이션 바(세로) -->
        {% include 'user/sub_navbar.html' %}

        <!-- 회원 정보 -->
        <div class="col-9 d-flex flex-column align-items-center justify-content-center">
            <!-- if - else 처리해야 함 -->
            <!-- 비구독 상태 -->
            <div class="text-center mb-3">
                <h1>책을 원하는 목소리로 들을 수 있는 기회를 누려보세요!</h1>
                <button type="button" class="btn btn-outline-orange-200 btn-sm">구독하기</button>
            </div>

            <!-- 구독 상태 -->
            <div class="text-center">
                <h1>구독 정보</h1>
                <h3>{{user.nickname}}님의 구독 정보 입니다.</h3>
                <p>잔여일수 : {{left_days}}일</p>
                <p>자동 결제일: 2023년 1월 25일</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}