{% extends 'user/template.html' %}
{% load static %}

{% block title %}O :D - 회원 정보{% endblock %}
{% block style %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="min-height: 80vh;">
        {% if messages %}
            <script>
                {% for message in messages %}
                    alert("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}

        {% include 'user/sub_navbar.html' %}

        <div class="col-9">
            <div class="row my-5">
                <h1 class="menu-font">나의 정보</h1>
            </div>

            <div class="row" style="min-height: 50vh;">
                <form class="d-flex flex-column align-items-center justify-content-center" method="post" action="{% url 'user:inform'%}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row d-flex justify-content-center mb-3">
                        <img src="{{ file_path }}{{request.user.user_profile_path}}" id="user-image" class="img-thumbnail rounded" style="max-width: 100px; height: auto; cursor:pointer;">
                    </div>

                    <div class="mb-3" style="display:none;">
                        <label class="form-label">사용자 이미지 수정</label>
                        <input class="form-control" type="file" id="file-input" name="file">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">이메일</label>
                        <input type="text" class="form-control" name="nickname" placeholder={{user.email}} disabled>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">닉네임 수정</label>
                        <input type="text" class="form-control"  name="nickname" placeholder={{user.nickname}}>
                    </div>

                    <span class="d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-orange-400 btn-sm" id = 'modifyBtn'>수정하기</button>
                    </span>
                    
                    <span class="d-flex justify-content-center">
                        <button type="button" class="btn btn-orange-400 btn-sm" id = 'deleteBtn' >탈퇴하기</button>
                    </span>

                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", (event) => {
        var modifyBtn = document.getElementById('modifyBtn');
        var deleteBtn = document.getElementById('deleteBtn');

        document.getElementById('user-image').addEventListener('click', function() {
            document.getElementById('file-input').click();
        });

        deleteBtn.addEventListener('click', function(event) {
            var confirmDelete = confirm("정말 계정을 삭제 하시겠습니까?");
            if (confirmDelete) {
                var user_id = "{{user.user_id}}";
                window.location.href = "{% url 'user:delete' 0 %}".replace('0', user_id);

            } else {
                event.preventDefault();
            }
        });
    });
</script>

{% endblock %}

