// Bootstrap 기본 변수 재정의
$component-active-bg: #FD9843;

@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

// orange 색상
$orange-colors: (
  "100": $orange-100,
  "200": $orange-200,
  "300": $orange-300,
  "400": $orange-400,
  "500": $orange-500,
  "600": $orange-600,
  "700": $orange-700,
  "800": $orange-800,
  "900": $orange-900,
);

// nav-link 색상 변경
$nav-link-color: $orange-400;
$nav-link-hover-color: $orange-500;

// pagination 색상 변경
$pagination-color: $orange-400;
$pagination-hover-color: $orange-500;

// 기존의 테마 색상에 orange 색상 추가
$theme-colors: map-merge($theme-colors, $orange-colors);

// Bootstrap 불러오기
@import "../bootstrap/scss/bootstrap.scss";
// Utilities API 불러오기
@import "../bootstrap/scss/utilities/api";

// 새로운 배경색 유틸리티 클래스 생성
@each $color, $value in $orange-colors {
  .bg-orange-#{$color} {
    background-color: $value !important;
  }
}

// 새로운 버튼 스타일 유틸리티 클래스 생성
@each $color, $value in $orange-colors {
    .btn-orange-#{$color} {
        @include button-variant($value, $value);
        color: #ffffff; 
        font-weight: bold; 
        &:hover {
          color: #ffffff; 
      }
    }

    // 새로운 아웃라인 버튼 스타일 유틸리티 클래스 생성
    .btn-outline-orange-#{$color} {
        @include button-outline-variant($value);
    }
}