@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";

$indigo-colors: (
  "100": $indigo-100,
  "200": $indigo-200,
  "300": $indigo-300,
  "400": $indigo-400,
  "500": $indigo-500,
  "600": $indigo-600,
  "700": $indigo-700,
  "800": $indigo-800,
  "900": $indigo-900,
);

$theme-colors: map-merge($theme-colors, $indigo-colors);

// Bootstrap 불러오기
@import "../bootstrap/scss/bootstrap.scss";
// Utilities API 불러오기
@import "../bootstrap/scss/utilities/api";

// 새로운 배경색 유틸리티 클래스 생성
@each $color, $value in $indigo-colors {
  .bg-indigo-#{$color} {
    background-color: $value !important;
  }
}

// 새로운 버튼 스타일 유틸리티 클래스 생성
@each $color, $value in $indigo-colors {
    .btn-indigo-#{$color} {
        @include button-variant($value, $value);
    }

    // 새로운 아웃라인 버튼 스타일 유틸리티 클래스 생성
    .btn-outline-indigo-#{$color} {
        @include button-outline-variant($value);
    }
}